{% extends "menu.html" %}
{% block content %}

<div >
        <table id="CAMTecnoligaTabela">

      <caption><div align="right">
        </div></caption>

            <meta http-equiv="content-type" content="text/html;charset=utf-8" />
            <head>
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            </head>
            <body>
                    <div id="divCenter">
                            <div align="center"><h2>Aplicar Alterações:</h2></div>
        <form action="{% url 'fila_novo'%}" method="POST">
        <br/>

                <table cellspacing="10">

                            <tr>
                                <td>
                                    <label for="conf_cham">Selecione as alterações que deseja confirmar: </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <INPUT TYPE="checkbox" name="conf_cham"VALUE="True" > URAs
                                </td>
                            <tr>
                                <td>
                                    <INPUT TYPE="checkbox" name="conf_cham"VALUE="True" > Número de Entrada
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <INPUT TYPE="checkbox" name="conf_cham"VALUE="True" > Troncos
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <INPUT TYPE="checkbox" name="conf_cham"VALUE="True" > Anúncios
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <INPUT TYPE="checkbox" name="conf_cham"VALUE="True" > Grupos de Chamada
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <INPUT TYPE="checkbox" name="conf_cham"VALUE="True" > Filas
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <INPUT TYPE="checkbox" name="conf_cham"VALUE="True" > Condições de Tempo
                                </td>
                            </tr>
                                </td>
                                <td></td>
                            </tr>
                </table>
                <br />  
          
                <div align="center"><button type="submit">Selecionar Todos</button><button type="submit">Aplicar Alterações</button></div>
          

{% endblock %}
