{% extends "menu.html" %}
{% block content %}

<div >
        <table id="CAMTecnoligaTabela">

      <caption><div align="right">
        </div></caption>

            <meta http-equiv="content-type" content="text/html;charset=utf-8" />
            <head>
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
                <script language=javascript>
                    <!--
                    cont = 0;
                    function CheckAll() { 
                       for (var i=0;i<document.form1.elements.length;i++) {
                         var x = document.form1.elements[i];
                         if (x.name == 'UIDL') { 
                    x.checked = document.form1.selall.checked;
                    } 
                    }
                    if (cont == 0){    
                    var elem = document.getElementById("checar");
                    elem.innerHTML = "Desmarcar todos";
                    cont = 1;
                    } else {
                    var elem = document.getElementById("checar");
                    elem.innerHTML = "Marcar todos";
                    cont = 0;
                    }
                    
                    } 
                    //-->
                    </script>
            </head>
            <body>
                    <div id="divCenter">
                            <div align="center"><h2>Aplicar Alterações:</h2></div>
        <form name="form1" action="{% url 'fila_novo'%}" method="POST">
        <br/>

                <table cellspacing="10">

                            <tr>
                                <td>
                                    <label for="conf_cham">Selecione as alterações que deseja confirmar: </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <INPUT TYPE="checkbox" name="UIDL"VALUE="True" > URAs
                                </td>
                            <tr>
                                <td>
                                    <INPUT TYPE="checkbox" name="UIDL"VALUE="True" > Número de Entrada
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <INPUT TYPE="checkbox" name="UIDL"VALUE="True" > Troncos
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <INPUT TYPE="checkbox" name="UIDL"VALUE="True" > Anúncios
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <INPUT TYPE="checkbox" name="UIDL"VALUE="True" > Grupos de Chamada
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <INPUT TYPE="checkbox" name="UIDL"VALUE="True" > Filas
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <INPUT TYPE="checkbox" name="UIDL"VALUE="True" > Condições de Tempo
                                </td>
                            </tr>
                                <td><input type=checkbox name="selall" onClick="CheckAll()"><span id="checar">Marcar todos</span><br>
                            </tr>
                </table>
                <br />  
          
                <div align="center"><button type="submit">Aplicar Alterações</button></div>
          

{% endblock %}
