{% extends "menu.html" %}


{% block content %}

<div >
    <table id="CAMTecnoligaTabela">

      <caption><div align="right">
        </div></caption>

            <meta http-equiv="content-type" content="text/html;charset=utf-8" />
            <head>
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            </head>
            <body>
                    <div id="divCenter">
                            <div align="center"><h2>Adicionar Tronco SIP:</h2></div>
                    <form action="{% url 'troncosip_novo' %}" method="POST">
                      {% csrf_token %}
                            <br />

                             <table cellspacing="10">

                                     <tr>
                                             <td>
                                              <label for="nome_tronco">Nome do Tronco: </label>
                                             </td>
                                             <td align="left">
                                              <input type="text" name="nome">
                                             </td>
                                             <td></td>
                                            </tr>
                                            <tr>
                                                 <td>
                                                  <label for="callerids">CallerID de saída: </label>
                                                 </td>
                                                 <td align="left">
                                                  <input type="text" name="callerids">
                                                 </td>
                                                 <td></td>
                                                </tr>
                                                <tr>
                                                        <td>
                                                            <label for="op_cid">Opções CID</label>
                                                        </td>
                                                        <td align="left">
                                                                <select name="op_cid">
                                                                <option value="1">Permitir Qualquer ID</option>
                                                                <option value="2">Bloquear Ids Extrangeiros</option>
                                                                <option value="3">Remover CNAM</option>
                                                                <option value="4">Forçar Tronco CID</option>
                                                            </select>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                            <td>
                                                             <label for="max_canais">Máximo de Canais: </label>
                                                            </td>
                                                            <td align="left">
                                                             <input type="text" name="max_canais">
                                                            </td>
                                                            <td></td>
                                                           </tr>
                                                           <tr>
                                                                <td>
                                                                 <label for="op_asterisk">Opções de Discagem de Tronco Asterisk: </label>
                                                                </td>
                                                                <td align="left">
                                                                 <input type="text" name="op_asterisk">
                                                                </td>
                                                            <td>

                                                                    <INPUT TYPE="checkbox" NAME="op_asterisk" VALUE="op1">Sobrescrever

                                                            </td>
                                                               </tr>
                                                               <tr>
                                                                    <td>
                                                                            <label for="continua">Continuar se ocupado: </label>
                                                                           </td>
                                                                <td>

                                                                        <INPUT TYPE="checkbox" NAME="continua_ocup" VALUE="True">Marque para sempre tentar o próximo tronco

                                                                </td>
                                                                <td></td>
                                                               </tr>
                                                               <tr>
                                                                    <td>
                                                                            <label for="continua">Desabilitar o Tronco: </label>
                                                                           </td>
                                                                <td>

                                                                        <INPUT TYPE="checkbox" NAME="desab_tronco" VALUE="True">Desabilitado

                                                                </td>
                                                                <td></td>
                                                               </tr>
                             </table>
        <br />

             <table cellspacing="10">
                <tr>
                  <td>
                   <label for="precedente">(</label>
                     </td>
                      <td align="left">
                        <input type="text" name="precedente" placeholder="Precedente">
                           </td>
                           <td>
                                <label for="prefix">)</label>
                                  </td>
                                  <td>
                                        <label for="plus">+</label>
                                          </td>
                                  <td align="left">
                                        <input type="text" name="prefix" placeholder="Prefixo">
                                           </td>
                                           <td>
                                                <label for="precedente">|</label>
                                                  </td>
                                        <td align="left">
                                            <input type="text" name="match" placeholder="Padrão Equivalente">
                                        </td>
                            </tr>

            </table>
            <br />
            <br />
            <table cellspacing="10">
              <tr>
            <td>
             <label for="prefi">Prefixo de chamadas de saída: </label>
            </td>
            <td align="left">
             <input type="text" name="prefixo_saida">
            </td>
          </tr>

          </table>
          <br />
          <br />
            <table cellspacing="10">
                    <div id="divCenter">
                            <tr>
                                    <td>
                                        <label for="nome_tronco">Nome do tronco: </label>
                                    </td>
                                    <td align="left">
                                        <input type="text" name="nome_tronco">
                                    </td>


                                    <td>
                                    <label for="contexto">Contexto do Usuário: </label>
                                    </td>
                                    <td align="left">
                                            <input type="text" name="contexto">
                                    </td>
                                </tr>
                            <tr>
                                <td>
                                    <label for="detalhes_peer">Detalhes do PEER: </label>
                                </td>
                                <td align="left">
                                        <textarea rows="10" cols="25" name="detalhes_PEER">
                                                </textarea>
                                </td>

                                <td>
                                        <label for="detalhes_usuário">Detalhes do Usuário: </label>
                                    </td>
                                    <td align="left">
                                            <textarea rows="10" cols="25" name="detalhes_usuarios">
                                                    host=***provider ip address***
                                                    username=***userid***
                                                    secret=***password***
                                                    type=peer
                                                    </textarea>
                                    </td>
                            </tr>
                            <tr>
                                    <td>
                                        <label for="string_reg">String de Registro: </label>
                                    </td>
                                    <td align="left">
                                        <input type="text" name="string_reg">
                                    </td>
                                    <td></td>
                                    <td></td>
                            </tr>
            </table>
            <br />

        <button type="submit">Cadastrar</button>
        </form>
     </div>
    </body>
{% endblock %}
