{% extends "menu.html" %}


{% block content %}

<div >
        <table id="CAMTecnoligaTabela">
    
      <caption><div align="right">
        </div></caption>
    
            <meta http-equiv="content-type" content="text/html;charset=utf-8" />
            <head>
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
            </head>
            <body>
                    <div id="divCenter">
                            <div align="center"><h2>Adicionar Número:</h2></div>
                    <form action="Script_do_Formulario.php" method="POST">

                            <br />
                            <fieldset>
                       
                             <table cellspacing="10">
                            
                                     <tr>
                                             <td>
                                              <label for="numero">Número: </label>
                                             </td>
                                             <td align="left">
                                              <input type="text" name="numero">
                                             </td>
                                            </tr>
                                            <tr>
                                                 <td>
                                                  <label for="descricao">Origem: </label>
                                                 </td>
                                                 <td align="left">
                                                  <input type="text" name="descricao">
                                                 </td>
                                                </tr>
                                                <tr>
                                                        <td>
                                                                <label for="atendido">Atendido: </label>
                                                               </td>
                                                    <td>
                                                        <form>
                                                            <INPUT TYPE="checkbox" NAME="atendido" VALUE="op1">
                                                            </form>
                                                    </td>
                                                   </tr>
                                                   <tr>
                                                        <td>
                                                                <label for="return_ura">Grava chamada: </label>
                                                               </td>
                                                    <td>
                                                        <form>
                                                            <INPUT TYPE="checkbox" NAME="grava_chamada" VALUE="op1">
                                                            </form>
                                                    </td>
                                                   </tr>
                             </table>
                            </fieldset>
                            <br />
             
        
        <button type="submit">Cadastrar</button>
        </form>  
        </div>
        </body> 
    
    </table>
    </div>
{% endblock %}
