{% extends "menu.html" %}


{% block content %}

<div >
        <table id="CAMTecnoligaTabela">
    
      <caption><div align="right">
        </div></caption>
    
            <meta http-equiv="content-type" content="text/html;charset=utf-8" />
            <head>
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
                <script language="JavaScript" >
                    function enviardados(){
  
                            if( document.dados.nome.value == "")
                            {
                            alert( "Há campos a serem preenchidos!" );
                            document.dados.nome.focus();
                            return false;
                            }

                            if( document.dados.apl.value == "")
                            {
                            alert( "Há campos a serem preenchidos!" );
                            document.dados.apl.focus();
                            return false;
                            }

                            if( document.dados.form.value == "")
                            {
                            alert( "Há campos a serem preenchidos!" );
                            document.dados.form.focus();
                            return false;
                            }

                        return true;
                        }
                      
                    </script>
            </head>
            <body>
                    <div id="divCenter">
                            <div align="center"><h2>Adicionar Streaming:</h2></div>
                            <br />
        <form action="{% url 'streaming_novo'%}" method="POST" name="dados" onSubmit="return enviardados();">
        {% csrf_token %}
                <table cellspacing="10">
                        <tr>
                                <td>
                                <label for="nome">Nome: </label>
                                </td>
                                <td align="left">
                                <input type="text" name="nome">
                                </td>
                            <td></td>
                        </tr>
                        <tr>
                                <td>
                                <label for="apl">Aplicação: </label>
                                </td>
                                <td align="left">
                                <input type="text" name="apl">
                                </td>
                            <td></td>
                        </tr>
                        <tr>
                                <td>
                                <label for="form">Formato: </label>
                                </td>
                                <td align="left">
                                <input type="text" name="form">
                                </td>
                            <td></td>
                        </tr>
                        <button type="submit" class="formobjects">Cadastrar</button>
        </form>  
        </div>
        </body> 
    
    </table>
    </div>
   
{% endblock %}
