{% extends "menu.html" %}
{% block content %}
{% load static %}

<script src="{% static 'js/destino.js' %}"></script>
<div>
        <table id="CAMTecnoligaTabela">
        <caption><div align="right">
        </div></caption>

            <meta http-equiv="content-type" content="text/html;charset=utf-8" />
            <head>
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
                <script language="JavaScript" >
                  function enviardados(){

                          if( document.dados.numero.value == "")
                          {
                          alert( "Há campos a serem preenchidos!" );
                          document.dados.numero.focus();
                          return false;
                          }

                          if( document.dados.origem.value == "")
                          {
                          alert( "Há campos a serem preenchidos!" );
                          document.dados.origem.focus();
                          return false;
                          }

                          if( document.dados.tipo_des.value == 0)
                          {
                          alert( "Há campos a serem preenchidos!" );
                          document.dados.tipo_des.focus();
                          return false;
                          }

                          if(document.dados.tipo_des.value == 1 && document.dados.dest_anuncios.value == 0)
                          {
                          alert( "Há campos a serem preenchidos!" );
                          document.dados.dest_anuncios.focus();
                          return false;
                          }

                          if(document.dados.tipo_des.value == 2 && document.dados.dest_gravacoes.value == 0)
                          {
                          alert( "Há campos a serem preenchidos!" );
                          document.dados.dest_gravacoes.focus();
                          return false;
                          }

                          if(document.dados.tipo_des.value == 3 && document.dados.dest_numeros.value == 0)
                          {
                          alert( "Há campos a serem preenchidos!" );
                          document.dados.dest_numeros.focus();
                          return false;
                          }

                          if(document.dados.tipo_des.value == 4 && document.dados.dest_uras.value == 0)
                          {
                          alert( "Há campos a serem preenchidos!" );
                          document.dados.dest_uras.focus();
                          return false;
                          }

                          if(document.dados.tipo_des.value == 5 && document.dados.dest_filas.value == 0)
                          {
                          alert( "Há campos a serem preenchidos!" );
                          document.dados.dest_filas.focus();
                          return false;
                          }

                          if(document.dados.tipo_des.value == 6 && document.dados.dest_chamadasGrupo.value == 0)
                          {
                          alert( "Há campos a serem preenchidos!" );
                          document.dados.dest_chamadasGrupo.focus();
                          return false;
                          }

                          if(document.dados.tipo_des.value == 7 && document.dados.dest_condicoes.value == 0)
                          {
                          alert( "Há campos a serem preenchidos!" );
                          document.dados.dest_condicoes.focus();
                          return false;
                          }

                          if(document.dados.tipo_des.value == 8 && document.dados.dest_troncos.value == 0)
                          {
                          alert( "Há campos a serem preenchidos!" );
                          document.dados.dest_troncos.focus();
                          return false;
                          }

                      return true;
                      }
                    
                  </script>

            </head>
            <body>
                <div id="divCenter">
                <div align="center"><h2>Adicionar Número:</h2></div>
                <form action="{% url 'numero_novo' %}" method="POST" name="dados" onSubmit="return enviardados();">
                 {% csrf_token %}
                        <br />
                             <table cellspacing="10">
                                <tr>
                                <td>
                                  <label for="numero">Número de Entrada: </label>
                                </td>
                                <td align="left">
                                  <input type="number" name="numero">
                                </td>
                                </tr>

                                <tr>
                                   <td>
                                    <label for="origem">Origem: </label>
                                   </td>
                                   <td align="left">
                                     <input type="number" name="origem">
                                </td>
                                </tr>

                                <tr>
                                   <td>
                                       <label for="atendido">Atendido: </label>
                                   </td>
                                   <td>
                                        <INPUT TYPE="checkbox" name="atendido"VALUE="True" >
                                   </td>
                                </tr>

                                <tr>
                                 <td>
                                   <label for="return_ura">Grava chamada: </label>
                                 </td>
                                 <td>
                                   <INPUT TYPE="checkbox" name="grava_chamada" VALUE="True">
                                 </td>
                                </tr>

                             </table>
                        <br />
                        <table>

                      <tr>
                              <td>
                              <label for="fail">Destino: </label>
                              <td align="left">
                                      <select name="tipo_des" id="tipo_des" onchange="get_destino()">
                                          <option value="0">Selecione destino</option>
                                          <option value="1">Anúncio</option>
                                          <option value="2">Gravação</option>
                                          <option value="3">Número de Entrada</option>
                                          <option value="4">URA</option>
                                          <option value="5">Fila</option>
                                          <option value="6">Chamada em grupo</option>
                                          <option value="7">Condições de tempo</option>
                                          <option value="8">Tronco</option>
                                  </select>
                              </td>
                              <td align="left">
                                      <select  name="dest_anuncios" id="dest_anuncios" hidden>
                                        <option value="0" selected>--</option>
                                        {%for dest in dest_anuncios %}
                                          <option value="{{dest.id}}">{{dest.descricao}}</option>
                                        {%endfor%}
                                  </select>
                              </td>
                              <td align="left">
                                      <select  name="dest_gravacoes" id="dest_gravacoes" hidden>
                                        <option value="0" selected>--</option>
                                        {%for dest in dest_gravacoes %}
                                          <option value="{{dest.id}}">{{dest.nome}}</option>
                                        {%endfor%}
                                  </select>
                              </td>
                              <td align="left">
                                      <select  name="dest_numeros" id="dest_numeros" hidden>
                                        <option value="0" selected>--</option>
                                        {%for dest in dest_numeros %}
                                          <option value="{{dest.id}}">{{dest.numero}}</option>
                                        {%endfor%}
                                  </select>
                              </td>
                              <td align="left">
                                      <select  name="dest_uras" hidden id="dest_uras">
                                        <option value="0" selected>--</option>
                                        {%for dest in dest_uras %}
                                          <option value="{{dest.id}}">{{dest.nome}}</option>
                                        {%endfor%}
                                  </select>
                                  <select  name="dest_filas" hidden id="dest_filas">
                                    <option value="0" selected>--</option>
                                    {%for dest in dest_filas %}
                                      <option value="{{dest.id}}">{{dest.nome}}</option>
                                    {%endfor%}
                              </select>
                              <select  name="dest_chamadasGrupo" hidden id="dest_chamadasGrupo">
                                <option value="0" selected>--</option>
                                {%for dest in dest_chamadasGrupo %}
                                  <option value="{{dest.id}}">{{dest.descricao}}</option>
                                {%endfor%}
                          </select>
                          <select  name="dest_condicoes" hidden id="dest_condicoes">
                            <option value="0" selected>--</option>
                            {%for dest in dest_condicoes %}
                              <option value="{{dest.id}}">{{dest.nome}}</option>
                            {%endfor%}
                      </select>
                      <select  name="dest_troncos" hidden id="dest_troncos">
                        <option value="0" selected>--</option>
                        {%for dest in dest_troncos %}
                          <option value="{{dest.id}}">{{dest.nome}}</option>
                        {%endfor%}
                  </select>

                              </td>
                          <td></td>
                      </tr>
                    </table>
                        <button type="submit" class="formobjects">Cadastrar</button>
                        </form>




                </div>
                </body>

</div>


{% endblock %}
