
    {% extends "menu.html" %}

    {% load static %}
    {% block content %}

    <div >
        <table id="CAMTecnoligaTabela">

          <caption><div align="right">
            </div></caption>

    <div id="divCenter">
      <div align="center"><h2>Adicionar Tronco IAX:</h2></div>
      <form method="POST" id="form" name="form">
        {% csrf_token %}
        <br />
        <input type="hidden" name="count" id="count" value="1"></input>
        <table cellspacing="10">
          <tr>
            <td>
              <label for="nome_tronco">Nome do Tronco: </label>
            </td>
            <td align="left">
              <input type="text" name="nome">
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              <label for="callerids">CallerID de saída: </label>
            </td>
            <td align="left">
              <input type="text" name="callerids">
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              <label for="op_cid">Opções CID</label>
            </td>
            <td align="left">
              <select name="op_cid">
                <option value="1">Permitir Qualquer ID</option>
                <option value="2">Bloquear Ids Extrangeiros</option>
                <option value="3">Remover CNAM</option>
                <option value="4">Forçar Tronco CID</option>
              </select>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              <label for="max_canais">Máximo de Canais: </label>
            </td>
            <td align="left">
              <input type="text" name="max_canais">
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              <label for="op_asterisk">Opções de Discagem de Tronco Asterisk: </label>
            </td>
            <td align="left">
              <input type="text" name="op_asterisk">
            </td>
            <td>
              <INPUT TYPE="checkbox" NAME="op_asterisk" VALUE="op1">Sobrescrever</input>
            </td>
          </tr>
          <tr>
            <td>
              <label for="continua">Continuar se ocupado: </label>
            </td>
            <td>
              <INPUT TYPE="checkbox" NAME="continua_ocup" VALUE="True">Marque para sempre tentar o próximo tronco</input>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              <label for="continua">Desabilitar o Tronco: </label>
            </td>
            <td>
              <INPUT TYPE="checkbox" NAME="desab_tronco" VALUE="True">Desabilitado
            </td>
            <td></td>
          </tr>
        </table>
        <br />

        <div align="center"><label style="display: block"><input type="button" name="add" id="add_linha" value="Adicionar Linha" /></label></div>
        <div align="center">
          <div  id="ramall" cellspacing="10">
            <tr>
              <td>
                <label for="precedente">(</label>
                <input type="text" name="precedente0" placeholder="Precedente"></input>
                <label for="prefix">)</label>
                <label for="plus">+</label>
                <input type="text" name="prefix0" placeholder="Prefixo"></input>
                <label for="precedente">|</label>
                <label><input type="text" name="match0" placeholder="Padrão Equivalente">
                  <a class="remove"><img  src="{% static 'img/minus.png' %}" style="cursor: pointer;" ></a>
              </td>
              <td></td>
            </tr>
          </div>
          <fieldset id="inputs_adicionais" style="border: none"></fieldset>
        </div>

        <br />
        <br />
        <table cellspacing="10">
          <tr>
            <td>
              <label for="prefi">Prefixo de chamadas de saída: </label>
            </td>
            <td align="left">
              <input type="text" name="prefixo_saida">
            </td>
          </tr>
        </table>
        <br />
        <br />
        <table cellspacing="10">
          <div id="divCenter">
            <tr>
              <td>
                <label for="nome_tronco">Nome do tronco: </label>
              </td>
              <td align="left">
                <input type="text" name="nome_tronco"></input>
              </td>
              <td>
                <label for="contexto">Contexto do Usuário: </label>
              </td>
              <td align="left">
                <input type="text" name="contexto"></input>
              </td>
            </tr>
            <tr>
              <td>
                <label for="detalhes_peer">Detalhes do PEER: </label>
              </td>
              <td align="left">
                <textarea rows="10" cols="25" name="detalhes_PEER"></textarea>
              </td>
              <td>
                <label for="detalhes_usuário">Detalhes do Usuário: </label>
              </td>
              <td align="left">
                <textarea rows="10" cols="25" name="detalhes_usuarios">
                    host=***provider ip address***
                    username=***userid***
                    secret=***password***
                    type=peer
                </textarea>
              </td>
            </tr>
            <tr>
              <td>
                <label for="string_reg">String de Registro: </label>
              </td>
              <td align="left">
                <input type="text" name="string_reg">
              </td>
              <td></td>
              <td></td>
            </tr>
          </table>
          <br />

          <button type="submit" >Cadastrar</button>
        </div>

    </form>
      </div>
        </body>
        <script type="text/javascript">
            $(document).ready(function(){
              var i = 1;

            $("#add_linha").on('click', function (e){
                e.preventDefault();
                  var input = '<div cellspacing="10"><tr><td><label for="precedente">(</label><input type="text" name="precedente'+i+'" id="precedente'+i+'" placeholder="Precedente"></input><label for="prefix">)</label><label for="plus">+</label><input type="text" name="prefix'+i+'" id="prefix'+i+'" placeholder="Prefixo"></input><label for="precedente">|</label><input type="text" name="match'+i+'" id="match'+i+'" placeholder="Padrão Equivalente"></input><a class="remove"><img  src="{% static 'img/minus.png' %}" style="cursor: pointer;" ></a> </td></tr></div>'
                var newTextBoxDiv = $('</fieldset>');

                    newTextBoxDiv.html(input);
                    newTextBoxDiv.appendTo("#inputs_adicionais");
                    $('#inputs_adicionais').append(input);
                    i++;
                    $('#count').val(i);
                });

            $('#inputs_adicionais').delegate('a','click',function( e ){
                e.preventDefault();
                $( this ).parent('div').remove();
                i--;
                $('#count').val(i);
            });

              $("#form").submit( function(e) {
               //prevent the default submithandling
               e.preventDefault();

               var formData = $("#form").serializeArray();
               for(var j=1; j<i; j++ ){
                 formData.push({name: "precedente"+j, value: $('#precedente'+j).val() });
                 formData.push({name: "prefix"+j, value: $('#prefix'+j).val() });
                 formData.push({name: "match"+j, value: $('#match'+j).val() });
                }

               $.post('{% url "troncoiax_novo" %}', formData);
               console.log( formData );
               return window.location.href ="/troncos/";
             });

            });

            </script>
    {% endblock %}
