{% extends "menu.html" %}
{% block content %}
{% load static %}

<script src="{% static 'js/destino.js' %}"></script>
<div>
        <table id="CAMTecnoligaTabela">
        <caption><div align="right">
        </div></caption>

            <meta http-equiv="content-type" content="text/html;charset=utf-8" />
            <head>
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

            </head>
            <body>
                <div id="divCenter">
                <div align="center"><h2>Adicionar Número:</h2></div>
                <form action="{% url 'numero_novo' %}" method="POST">
                 {% csrf_token %}
                        <br />
                             <table cellspacing="10">
                                <tr>
                                <td>
                                  <label for="numero">Número: </label>
                                </td>
                                <td align="left">
                                  <input type="number" name="numero">
                                </td>
                                </tr>

                                <tr>
                                   <td>
                                    <label for="descricao">Origem: </label>
                                   </td>
                                   <td align="left">
                                     <input type="number" name="origem">
                                </td>
                                </tr>

                                <tr>
                                   <td>
                                       <label for="atendido">Atendido: </label>
                                   </td>
                                   <td>
                                        <INPUT TYPE="checkbox" name="atendido"VALUE="True" >
                                   </td>
                                </tr>

                                <tr>
                                 <td>
                                   <label for="return_ura">Grava chamada: </label>
                                 </td>
                                 <td>
                                   <INPUT TYPE="checkbox" name="grava_chamada" VALUE="True">
                                 </td>
                                </tr>

                             </table>
                        <br />
                        <table>
                  
                      <tr>
                              <td>
                              <label for="fail">Destino: </label>
                              <td align="left">
                                      <select name="tipo_des" id="tipo_des" onchange="get_destino()">
                                          <option value="0">Selecione destino</option>
                                          <option value="1">Anúncio</option>
                                          <option value="2">Gravação</option>
                                          <option value="3">Número de Entrada</option>
                                          <option value="4">URA</option>
                                          <option value="5">Fila</option>
                                          <option value="6">Chamada em grupo</option>
                                          <option value="7">Condições de tempo</option>
                                          <option value="8">Tronco</option>
                                  </select>
                              </td>
                              <td align="left">
                                      <select  name="dest_anuncios" id="dest_anuncios" hidden>
                                        {%for dest in dest_anuncios %}
                                          <option value="{{dest.id}}">{{dest.nome}}</option>
                                        {%endfor%}
                                  </select>
                              </td>
                              <td align="left">
                                      <select  name="dest_gravacoes" id="dest_gravacoes" hidden>
                                        {%for dest in dest_gravacoes %}
                                          <option value="{{dest.id}}">{{dest.nome}}</option>
                                        {%endfor%}
                                  </select>
                              </td>
                              <td align="left">
                                      <select  name="dest_numeros" id="dest_numeros" hidden>
                                        {%for dest in dest_numeros %}
                                          <option value="{{dest.id}}">{{dest.nome}}</option>
                                        {%endfor%}
                                  </select>
                              </td>
                              <td align="left">
                                      <select  name="dest_uras" hidden id="dest_uras">
                                        {%for dest in dest_uras %}
                                          <option value="{{dest.id}}">{{dest.nome}}</option>
                                        {%endfor%}
                                  </select>
                                  <select  name="dest_filas" hidden id="dest_filas">
                                    {%for dest in dest_filas %}
                                      <option value="{{dest.id}}">{{dest.nome}}</option>
                                    {%endfor%}
                              </select>
                              <select  name="dest_chamadasGrupo" hidden id="dest_chamadasGrupo">
                                {%for dest in dest_chamadasGrupo %}
                                  <option value="{{dest.id}}">{{dest.nome}}</option>
                                {%endfor%}
                          </select>
                          <select  name="dest_condicoes" hidden id="dest_condicoes">
                            {%for dest in dest_condicoes %}
                              <option value="{{dest.id}}">{{dest.nome}}</option>
                            {%endfor%}
                      </select>
                      <select  name="dest_troncos" hidden id="dest_troncos">
                        {%for dest in dest_troncos %}
                          <option value="{{dest.id}}">{{dest.nome}}</option>
                        {%endfor%}
                  </select>

                              </td>
                          <td></td>
                      </tr>
                    </table>
                        <button type="submit">Cadastrar</button>
                        </form>




                </div>
                </body>

</div>


{% endblock %}
