{% extends "menu.html" %}
{% load static %}

{% block content %}

<div >
    <table id="CAMTecnoligaTabela">

      <caption><div align="right">
        </div></caption>

            <meta http-equiv="content-type" content="text/html;charset=utf-8" />
            <head>
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            </head>
            <body>
                    <div id="divCenter">
                            <div align="center"><h2>Adicionar Tronco Customizado:</h2></div>
                    <<form action="{% url 'troncocustomizado_novo' %}" method="POST">
                      {% csrf_token %}
                            <br />

                             <table cellspacing="10">

                                     <tr>
                                             <td>
                                              <label for="nome_tronco">Nome do Tronco: </label>
                                             </td>
                                             <td align="left">
                                              <input type="text" name="nome">
                                             </td>
                                             <td></td>
                                            </tr>
                                            <tr>
                                                 <td>
                                                  <label for="callerids">CallerID de saída: </label>
                                                 </td>
                                                 <td align="left">
                                                  <input type="text" name="callerids">
                                                 </td>
                                                 <td></td>
                                                </tr>
                                                <tr>
                                                        <td>
                                                            <label for="op_cid">Opções CID</label>
                                                        </td>
                                                        <td align="left">
                                                                <select name="op_cid">
                                                                <option value="1">Permitir Qualquer ID</option>
                                                                <option value="2">Bloquear Ids Extrangeiros</option>
                                                                <option value="3">Remover CNAM</option>
                                                                <option value="4">Forçar Tronco CID</option>
                                                            </select>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                            <td>
                                                             <label for="max_canais">Máximo de Canais: </label>
                                                            </td>
                                                            <td align="left">
                                                             <input type="text" name="max_canais">
                                                            </td>
                                                            <td></td>
                                                           </tr>
                                                           <tr>
                                                                <td>
                                                                 <label for="op_asterisk">Opções de Discagem de Tronco Asterisk: </label>
                                                                </td>
                                                                <td align="left">
                                                                 <input type="text" name="op_asterisk">
                                                                </td>
                                                            <td>

                                                                    <INPUT TYPE="checkbox" NAME="op_asterisk" VALUE="op1">Sobrescrever

                                                            </td>
                                                               </tr>
                                                               <tr>
                                                                    <td>
                                                                            <label for="continua">Continuar se ocupado: </label>
                                                                           </td>
                                                                <td>

                                                                        <INPUT TYPE="checkbox" NAME="continua_ocup" VALUE="True">Marque para sempre tentar o próximo tronco

                                                                </td>
                                                                <td></td>
                                                               </tr>
                                                               <tr>
                                                                    <td>
                                                                            <label for="continua">Desabilitar o Tronco: </label>
                                                                           </td>
                                                                <td>

                                                                        <INPUT TYPE="checkbox" NAME="desab_tronco" VALUE="True">Desabilitado

                                                                </td>
                                                                <td></td>
                                                               </tr>
                             </table>
        <br />

             <table id="ramall" cellspacing="10">
                <tr>
                  <td>
                   <label for="precedente">(</label>
                     </td>
                      <td align="left">
                        <input type="text" name="precedente" placeholder="Precedente">
                           </td>
                           <td>
                                <label for="prefix">)</label>
                                  </td>
                                  <td>
                                        <label for="plus">+</label>
                                          </td>
                                  <td align="left">
                                        <input type="text" name="prefix" placeholder="Prefixo">
                                           </td>
                                           <td>
                                                <label for="precedente">|</label>
                                                  </td>
                                        <td align="left">
                                            <input type="text" name="match" placeholder="Padrão Equivalente">
                                        </td>
                                        <td>
                                       
                                                
                                                        <img  src="{% static 'img/plus.png' %}" style="cursor: pointer;" onclick="duplicarCampos();">
                                                        <img  src="{% static 'img/minus.png' %}" style="cursor: pointer;" onclick="removerCampos(this);"> 
        
                                                    
                                                </td>
                            </tr>
                            <script>function duplicarCampos(){
                                        var clone = document.getElementById('ramall').cloneNode(true);
                                        var destino = document.getElementById('destino');
                                        destino.appendChild (clone);
                                        
                                        var camposClonados = clone.getElementsByTagName('input');
                                        
                                        for(i=0; i<camposClonados.length;i++){
                                                camposClonados[i].value = '';
                                        }
                                }
                                
                                function removerCampos(id){
                                        var node1 = document.getElementById('destino');
                                        node1.removeChild(node1.childNodes[0]);
                                }</script>
                                <div id="destino">


            </table>
            <br />
            <br />
            <table cellspacing="10">
              <tr>
            <td>
             <label for="prefi">Prefixo de chamadas de saída: </label>
            </td>
            <td align="left">
             <input type="text" name="prefixo_saida">
            </td>
          </tr>

          </table>
          <br />
          <br />
          <table cellspacing="10">
            <tr>
          <td>
           <label for="prefi">String de chamada personalizada: </label>
          </td>
          <td align="left">
           <input type="text" name="string_chamada">
          </td>
        </tr>

        </table>

        <button type="submit">Cadastrar</button>
        </form>
     </div>
    </body>
{% endblock %}
