{% extends "menu.html" %}


{% block content %}
{% load static %}

<script src="{% static 'js/destino.js' %}"></script>

<div >
        <table id="CAMTecnoligaTabela">

      <caption><div align="right">
        </div></caption>

            <meta http-equiv="content-type" content="text/html;charset=utf-8" />
            <head>
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

                <script language="JavaScript" >
                  function enviardados(){

                       if( document.dados.dia_mes_inicio.value == document.dados.dia_mes_termina.value)
                      {  
                        if( document.dados.dia_semana_ini.value != document.dados.dia_semana_ter.value)
                      { 
                        alert( "ERRO! Dia da Semana Inválido" );
                        return false;
                      }
                      else{
                          if(document.dados.hora_termino.value < document.dados.hora_inicio.value)
                          {
                          alert( "Horário de término não pode ser menor que horário de início" );
                          document.dados.hora_inicio.focus();
                          return false;
                          }
                        }
                      } 


                      if( document.dados.mes_inicio.value == document.dados.mes_termino.value)
                      {  
                          if( document.dados.dia_mes_inicio.value > document.dados.dia_mes_termina.value)
                          {
                          alert( "Dia de término não pode ser menor que dia de início" );
                          document.dados.dia_mes_inicio.focus();
                          return false;
                          }

                      }

                      if( document.dados.mes_inicio.value == "2")
                      {  
                          if(document.dados.dia_mes_inicio.value == 30 || document.dados.dia_mes_inicio.value == 31)
                          {
                          alert( "Dia Inválido!" );
                          document.dados.hora_inicio.focus();
                          return false;
                          }

                          if(document.dados.dia_mes_termina.value == 30 || document.dados.dia_mes_termina.value == 31)
                          {
                          alert( "Dia Inválido!" );
                          document.dados.hora_inicio.focus();
                          return false;
                          }
                      }

                      if( document.dados.mes_termino.value == "2")
                      {  
                          if(document.dados.dia_mes_inicio.value == 30 || document.dados.dia_mes_inicio.value == 31)
                          {
                          alert( "Dia Inválido!" );
                          document.dados.hora_inicio.focus();
                          return false;
                          }

                          if(document.dados.dia_mes_termina.value == 30 || document.dados.dia_mes_termina.value == 31)
                          {
                          alert( "Dia Inválido!" );
                          document.dados.hora_inicio.focus();
                          return false;
                          }
                      }

                      if(parseInt(document.dados.mes_inicio.value) > parseInt(document.dados.mes_termino.value))
                      {
                          alert( "O mês do término não pode ser anterior ao mês de início" );
                          document.dados.mes_termino.focus();
                          return false;
                          }
                        
                      return true;
                      }
                    
                  </script>
            </head>
            <body>
                    <div id="divCenter">
                            <div align="center"><h2>Adicionar Condição de Tempo:</h2></div>
                <form action="{% url 'condicoestempo_novo' %}" method="post" name="dados" onSubmit="return enviardados();">
                    {% csrf_token %}
                         <table cellspacing="10">
                          <tr>
                           <td>
                            <label for="nome">Nome para Condição de Tempo: </label>
                           </td>
                           <td align="left">
                            <input type="text" name="nome">
                           </td>
                           <td></td>
                           <td></td>
                          </tr>
      
                          <tr>
                            <td>
                             <label for="dest_coin">Destino se o Horário Coincidir:</label>
                            </td>
                            <td align="left">
                                    <select name="tipo_des" id="tipo_des" onchange="get_destino()">
                                        <option value="0">Selecione destino</option>
                                        <option value="1">Anúncio</option>
                                        <option value="2">Gravação</option>
                                        <option value="3">Número de Entrada</option>
                                        <option value="4">URA</option>
                                        <option value="5">Fila</option>
                                        <option value="6">Chamada em grupo</option>
                                        <option value="7">Condições de tempo</option>
                                        <option value="8">Tronco</option>
                                </select>
                            </td>
                            <td align="left">
                                    <select  name="dest_anuncios" id="dest_anuncios" hidden>
                                      <option value="0" selected>--</option>
                                      {%for dest in dest_anuncios %}
                                        <option value="{{dest.id}}">{{dest.descricao}}</option>
                                      {%endfor%}
                                </select>
                            </td>
                            <td align="left">
                                    <select  name="dest_gravacoes" id="dest_gravacoes" hidden>
                                      <option value="0" selected>--</option>
                                      {%for dest in dest_gravacoes %}
                                        <option value="{{dest.id}}">{{dest.nome}}</option>
                                      {%endfor%}
                                </select>
                            </td>
                            <td align="left">
                                    <select  name="dest_numeros" id="dest_numeros" hidden>
                                      <option value="0" selected>--</option>
                                      {%for dest in dest_numeros %}
                                        <option value="{{dest.id}}">{{dest.numero}}</option>
                                      {%endfor%}
                                </select>
                            </td>
                            <td align="left">
                                    <select  name="dest_uras" hidden id="dest_uras">
                                      <option value="0" selected>--</option>
                                      {%for dest in dest_uras %}
                                        <option value="{{dest.id}}">{{dest.nome}}</option>
                                      {%endfor%}
                                </select>
                                <select  name="dest_filas" hidden id="dest_filas">
                                  <option value="0" selected>--</option>
                                  {%for dest in dest_filas %}
                                    <option value="{{dest.id}}">{{dest.nome}}</option>
                                  {%endfor%}
                            </select>
                            <select  name="dest_chamadasGrupo" hidden id="dest_chamadasGrupo">
                              <option value="0" selected>--</option>
                              {%for dest in dest_chamadasGrupo %}
                                <option value="{{dest.id}}">{{dest.descricao}}</option>
                              {%endfor%}
                        </select>
                        <select  name="dest_condicoes" hidden id="dest_condicoes">
                          <option value="0" selected>--</option>
                          {%for dest in dest_condicoes %}
                            <option value="{{dest.id}}">{{dest.nome}}</option>
                          {%endfor%}
                    </select>
                    <select  name="dest_troncos" hidden id="dest_troncos">
                      <option value="0" selected>--</option>
                      {%for dest in dest_troncos %}
                        <option value="{{dest.id}}">{{dest.nome}}</option>
                      {%endfor%}
                </select>
                            </td>

                           </tr>

                           <tr>
                            <td>
                             <label for="dest_coin">Destino se o não Horário Coincidir:</label>
                            </td>
                            <td align="left">
                                    <select name="ntipo_des" id="ntipo_des" onchange="get_destinon()">
                                        <option value="0">Selecione destino</option>
                                        <option value="1">Anúncio</option>
                                        <option value="2">Gravação</option>
                                        <option value="3">Número de Entrada</option>
                                        <option value="4">URA</option>
                                        <option value="5">Fila</option>
                                        <option value="6">Chamada em grupo</option>
                                        <option value="7">Condições de tempo</option>
                                        <option value="8">Tronco</option>
                                </select>
                            </td>
                            <td align="left">
                                    <select  name="ndest_anuncios" id="ndest_anuncios" hidden>
                                      <option value="0" selected>--</option>
                                      {%for dest in dest_anuncios %}
                                        <option value="{{dest.id}}">{{dest.descricao}}</option>
                                      {%endfor%}
                                </select>
                            </td>
                            <td align="left">
                                    <select  name="ndest_gravacoes" id="ndest_gravacoes" hidden>
                                      <option value="0" selected>--</option>
                                      {%for dest in dest_gravacoes %}
                                        <option value="{{dest.id}}">{{dest.nome}}</option>
                                      {%endfor%}
                                </select>
                            </td>
                            <td align="left">
                                    <select  name="ndest_numeros" id="ndest_numeros" hidden>
                                      <option value="0" selected>--</option>
                                      {%for dest in dest_numeros %}
                                        <option value="{{dest.id}}">{{dest.numero}}</option>
                                      {%endfor%}
                                </select>
                            </td>
                            <td align="left">
                                    <select  name="ndest_uras" hidden id="ndest_uras">
                                      <option value="0" selected>--</option>
                                      {%for dest in dest_uras %}
                                        <option value="{{dest.id}}">{{dest.nome}}</option>
                                      {%endfor%}
                                </select>
                                <select  name="ndest_filas" hidden id="ndest_filas">
                                  <option value="0" selected>--</option>
                                  {%for dest in dest_filas %}
                                    <option value="{{dest.id}}">{{dest.nome}}</option>
                                  {%endfor%}
                            </select>
                            <select  name="ndest_chamadasGrupo" hidden id="ndest_chamadasGrupo">
                              <option value="0" selected>--</option>
                              {%for dest in dest_chamadasGrupo %}
                                <option value="{{dest.id}}">{{dest.descricao}}</option>
                              {%endfor%}
                        </select>
                        <select  name="ndest_condicoes" hidden id="ndest_condicoes">
                          <option value="0" selected>--</option>
                          {%for dest in dest_condicoes %}
                            <option value="{{dest.id}}">{{dest.nome}}</option>
                          {%endfor%}
                    </select>
                    <select  name="ndest_troncos" hidden id="ndest_troncos">
                      <option value="0" selected>--</option>
                      {%for dest in dest_troncos %}
                        <option value="{{dest.id}}">{{dest.nome}}</option>
                      {%endfor%}
                </select>
                            </td>

                           </tr>
                         </table>

                        <br />

                         <table cellspacing="10">

                            <tr>
                                <td>
                                 <label for="hora_inicio">Hora de Início:</label>
                                </td>
                                <td align="left">
                                        <input type = "time" name="hora_inicio">
                                </td>
                               </tr>
                          <tr>
                                <td>
                                        <label for="hora_termino">Hora de Término:</label>
                                       </td>
                                       <td align="left">
                                           <input type = "time" name="hora_termino">
                                       </td>

                          </tr>
                          <tr>
                           <td>
                            <label for="dia_semana_ini">Dia de Semana que Inicia:</label>
                           </td>
                           <td align="left">
                            <select name="dia_semana_ini">
                                <option value="seg">segunda-feira</option>
                                <option value="ter">terça-feira</option>
                                <option value="qua">quarta-feira</option>
                                <option value="qui">quinta-feira</option>
                                <option value="sex">sexta-feira</option>
                                <option value="sab">sábado</option>
                                <option value="dom">domingo</option>
                           </select>
                           </td>
                          </tr>
                          <tr>
                           <td>
                                <label for="dia_semana_ter">Dia de Semana que Termina:</label>
                            </td>
                            <td align="left">
                             <select name="dia_semana_ter">
                                 <option value="seg">segunda-feira</option>
                                 <option value="ter">terça-feira</option>
                                 <option value="qua">quarta-feira</option>
                                 <option value="qui">quinta-feira</option>
                                 <option value="sex">sexta-feira</option>
                                 <option value="sab">sábado</option>
                                 <option value="dom">domingo</option>
                            </select>
                           </td>
                          </tr>
                          <tr>
                                <td>
                                        <label for="dia_mes_inicio">Dia do Mês que Inicia:</label>
                                       </td>
                                       <td align="left">
                                        <select name="dia_mes_inicio">
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        if( document.dados.dia_mes_inicio.value == document.dados.dia_mes_termina.value)
                                        {  
                                            if(document.dados.hora_termino.value < document.dados.hora_inicio.value)
                                            {
                                            alert( "Horário de término não pode ser menor que horário de início" );
                                            document.dados.hora_inicio.focus();
                                            return false;
                                            }
                                        }     <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                        <option value="30">30</option>
                                        <option value="31">31</option>
                                       </select>
                        </td>
                          </tr>
                          <tr>
                                <td>
                                        <label for="dia_mes_termina">Dia do Mês que Termina:</label>
                                       </td>
                                       <td align="left">
                                        <select name="dia_mes_termina">                                      
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        if( document.dados.dia_mes_inicio.value == document.dados.dia_mes_termina.value)
                                        {  
                                            if(document.dados.hora_termino.value < document.dados.hora_inicio.value)
                                            {
                                            alert( "Horário de término não pode ser menor que horário de início" );
                                            document.dados.hora_inicio.focus();
                                            return false;
                                            }
                                        }      <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        if( document.dados.dia_mes_inicio.value == document.dados.dia_mes_termina.value)
                                        {  
                                            if(document.dados.hora_termino.value < document.dados.hora_inicio.value)
                                            {
                                            alert( "Horário de término não pode ser menor que horário de início" );
                                            document.dados.hora_inicio.focus();
                                            return false;
                                            }
                                        }      <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                        <option value="30">30</option>
                                        <option value="31">31</option>
                                       </select>
                        </td>
                          </tr>
                          <tr>
                                <td>
                                        <label for="mes_inicio">Mês que Inicia:</label>
                                       </td>
                                       <td align="left">
                                        <select name="mes_inicio">
                                        <option value="1">Janeiro</option>
                                        <option value="2">Fevereiro</option>
                                        <option value="3">Março</option>
                                        <option value="4">Abril</option>
                                        <option value="5">Maio</option>
                                        <option value="6">Junho</option>
                                        <option value="7">Julho</option>
                                        <option value="8">Agosto</option>
                                        <option value="9">Setembro</option>
                                        <option value="10">Outubro</option>
                                        <option value="11">Novembro</option>
                                        <option value="12">Dezembro</option>
                                       </select>
                        </td>
                          </tr>
                          <tr>
                                <td>
                                        <label for="mes_termino">Mês que Termina:</label>
                                       </td>
                                       <td align="left">
                                        <select name="mes_termino">
                                        <option value="1">Janeiro</option>
                                        <option value="2">Fevereiro</option>
                                        <option value="3">Março</option>
                                        <option value="4">Abril</option>
                                        <option value="5">Maio</option>
                                        <option value="6">Junho</option>
                                        <option value="7">Julho</option>
                                        <option value="8">Agosto</option>
                                        <option value="9">Setembro</option>
                                        <option value="10">Outubro</option>
                                        <option value="11">Novembro</option>
                                        <option value="12">Dezembro</option>
                                       </select>
                        </td>
                          </tr>
                         </table>
                        <br />


                        <br />

                        <button type="submit" class="formobjects">Cadastrar</button>
                        </form>


        </div>

        </body>

    </table>
    </div>
{% endblock %}
