
{% extends "menu.html" %}



{% block content %}
<br />
       <table>
   <div align="center">
      <input type="hidden" id="disponivelCPU" name="disponivelCPU" value="100">
      <!-- {{dashboard.CPU}} -->
      <input type="hidden" id="ocupadoCPU" name="ocupadoCPU" value="{{dashboard.CPU}}">
      
      <input type="hidden" id="disponivelRAM" name="disponivelRAM" value="{{dashboard.RAMF}}">
      <input type="hidden" id="ocupadoRAM" name="ocupadoRAM" value="{{dashboard.RAMU}}">

      <input type="hidden" id="disponivelSWAP" name="disponivelSWAP" value="{{dashboard.SWAPF}}">
      <input type="hidden" id="ocupadoSWAP" name="ocupadoSWAP" value="{{dashboard.SWAPU}}">
      <input type="hidden" id="disponivelDR" name="disponivelDR" value="{{dashboard.discoLivre}}">
      <input type="hidden" id="ocupadoDR" name="ocupadoDR" value="{{dashboard.discoUsado}}">
   <tr>
        <td>
                <div align="justify">
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
          google.charts.load("current", {packages:["corechart"]});
          google.charts.setOnLoadCallback(drawChart);
          function drawChart() {
            var disponivelCPU = 1*document.getElementById("disponivelCPU").value - 1*document.getElementById("ocupadoCPU").value
            var ocupadoCPU = 1*document.getElementById("ocupadoCPU").value
            var data = google.visualization.arrayToDataTable([
              ['Status', 'Valor'],
              ['Ocupado',    ocupadoCPU],
              ['Disponível',   disponivelCPU],
            ]);
    
            var options = {
              title: 'CPU',
              colors: ['7f0000','ff9999'],
              pieHole: 0.3,
            };
    
            var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
            chart.draw(data, options);
          }
        </script>
       <input type="button" value="gerar grafico">
        <div id="donutchart" style="width:360px; height: 250px;"></div>
        </div>
        </td>
        <td>
                <div align="center">
        <script type="text/javascript">
            google.charts.load("current", {packages:["corechart"]});
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
              var disponivelRAM = 1*document.getElementById("disponivelRAM").value
              var ocupadoRAM = 1*document.getElementById("ocupadoRAM").value
              var data = google.visualization.arrayToDataTable([
                ['Status', 'Valor'],
                ['Ocupado',    ocupadoRAM ],
                ['Disponível',     disponivelRAM ],
              ]);
      
              var options = {
                title: 'RAM',
                colors: ['7f0000','ff9999'],
                pieHole: 0.3,
              };
      
              var chart = new google.visualization.PieChart(document.getElementById('donutRAM'));
              chart.draw(data, options);
            }
          </script>
          <input type="button" value="gerar grafico">

           <div id="donutRAM" style="width:360px; height: 250px;"></div>
           </div>
        </td>
        <td>
                <div align="center">
        <script type="text/javascript">
            google.charts.load("current", {packages:["corechart"]});
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
              var disponivelSWAP = 1*document.getElementById("disponivelSWAP").value
              var ocupadoSWAP = 1*document.getElementById("ocupadoSWAP").value
              var data = google.visualization.arrayToDataTable([
                ['Status', 'Valor'],
                ['Ocupado',    ocupadoSWAP ],
                ['Disponível',    disponivelSWAP ],
              ]);
      
              var options = {
                title: 'SWAP',
                colors: ['7f0000','ff9999'],
                pieHole: 0.3,
              };
      
              var chart = new google.visualization.PieChart(document.getElementById('donutSWAP'));
              chart.draw(data, options);
            }
          </script>
          <input type="button" value="gerar grafico">
           <div id="donutSWAP" style="width:360px; height: 250px;"></div>
           </div>
        </td>
    </tr>
    <tr>
      <td>
        <label for="text">Tempo de Funcionamento: </label>
        
        
       </td>
       <td></td>
       <td></td>
    </tr>
</div>
</table>
<br />

<div align="left">
<tr>
<table>
  <tr>
       <td>
               <div align="left">
       <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
       <script type="text/javascript">
         google.charts.load("current", {packages:["corechart"]});
         google.charts.setOnLoadCallback(drawChart);
         function drawChart() {
          var disponivelDR = 1*document.getElementById("disponivelDR").value
          var ocupadoDR = 1*document.getElementById("ocupadoDR").value
           var data = google.visualization.arrayToDataTable([
             ['Status', 'Valor'],
             ['Usado',     ocupadoDR],
             ['Livre',      disponivelDR],
           ]);
   
           var options = {
             title: 'Disco Rígido',
             colors: ['7f0000','ff9999'],
             pieHole: 0.3,
           };
   
           var chart = new google.visualization.PieChart(document.getElementById('donutdisc'));
           chart.draw(data, options);
         }
       </script>
      <input type="button" value="gerar grafico">
       <div id="donutdisc" style="width:360px; height: 150px;"></div>
       </div>
       </td>
      </tr>
      <tr>
        <td>
          <label for="text">Capacidade de Disco: {{dashboard.capacidadeDisco}}</label>
         </td>
         <td></td>
    </table>
    <table cellspacing="10">
                <td>
                    <td align="center">
                 <label for="nome">Status de Processo </label>
                </td>
                </td>
                <td></td>
               </tr>
    </table>
  </tr>
  </div>

{% endblock %}


