
{% extends "menu.html" %}



{% block content %}
<br />
       <table>
   <div align="center">
      <input type="hidden" id="disponivelCPU" name="disponivelCPU" value="100">
      <!-- {{todos}} -->
      <input type="hidden" id="ocupadoCPU" name="ocupadoCPU" value="{{dashboard.CPU}}">
      
      <input type="hidden" id="disponivelRAM" name="disponivelRAM" value="{{dashboard.RAMF}}">
      <input type="hidden" id="ocupadoRAM" name="ocupadoRAM" value="{{dashboard.RAMU}}">

      <input type="hidden" id="disponivelSWAP" name="disponivelSWAP" value="{{dashboard.SWAPF}}">
      <input type="hidden" id="ocupadoSWAP" name="ocupadoSWAP" value="{{dashboard.SWAPU}}">
      <input type="hidden" id="disponivelDR" name="disponivelDR" value="{{dashboard.discoLivre}}">
      <input type="hidden" id="ocupadoDR" name="ocupadoDR" value="{{dashboard.discoUsado}}">
      <input type="hidden" id="swapp" name="swapp" value="{{grafico}}">
      
      <script>
            var dataGoogleGraphic = [];
            dataGoogleGraphic['CPU'] = [];
            dataGoogleGraphic['RAM'] = [];
            dataGoogleGraphic['SWAP'] = [];
            dataGoogleGraphic['DISCO'] = [];

            var jsonSwapTesteObject = JSON.parse('{{ gtes1 | escapejs }}');
            var index, len;
            
            var indexArray = 0;
            dataGoogleGraphic['CPU'][indexArray] = Array("Day", "CPU MAX", "CPU MIN", "CPU AVG");
            dataGoogleGraphic['RAM'][indexArray] = Array("Day", "RAM MAX", "RAM MIN", "RAM AVG");
            dataGoogleGraphic['SWAP'][indexArray] = Array("Day", "SWAP MAX", "SWAP MIN", "SWAP AVG");
            dataGoogleGraphic['DISCO'][indexArray] = Array("Day", "DISCO MAX", "DISCO MIN", "DISCO AVG");
            indexArray++;

            for (index = 0, len = jsonSwapTesteObject.length; index < len; ++index) {
                dayROW = jsonSwapTesteObject[index];
                dataGoogleGraphic['CPU'][indexArray] = Array(dayROW["day"] + '', dayROW["CPU_MAX"], dayROW['CPU_MIN'], dayROW['CPU_AVG']);
                dataGoogleGraphic['RAM'][indexArray] = Array(dayROW["day"] + '', dayROW["RAM_MAX"], dayROW['RAM_MIN'], dayROW['RAM_AVG']);
                dataGoogleGraphic['SWAP'][indexArray] = Array(dayROW["day"] + '', dayROW["SWAP_MAX"], dayROW['SWAP_MIN'], dayROW['SWAP_AVG']);
                dataGoogleGraphic['DISCO'][indexArray] = Array(dayROW["day"] + '', dayROW["DISCO_MAX"], dayROW['DISCO_MIN'], dayROW['DISCO_AVG']);
                indexArray++;
            }

      </script>
      <!-- {%for g in grafico%}
      <div id="teste{{ forloop.counter0 }}">
      <input type="hidden" id="swapp" name="swapp" value="{{grafico |safe}}">
      <input type="hidden" id="swapp" name="swapp" value="{{gtes1}}">
      
      {%endfor%} -->

   <tr>
        <td>
                <div align="justify">
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
          google.charts.load("current", {packages:["corechart"]});
          google.charts.setOnLoadCallback(drawChart);
          function drawChart() {
            var disponivelCPU = 1*document.getElementById("disponivelCPU").value - 1*document.getElementById("ocupadoCPU").value
            var ocupadoCPU = 1*document.getElementById("ocupadoCPU").value
            var data = google.visualization.arrayToDataTable([
              ['Status', 'Valor'],
              ['Ocupado',    ocupadoCPU],
              ['Disponível',   disponivelCPU],
            ]);
    
            var options = {
              title: 'CPU',
              colors: ['7f0000','ff9999'],
              pieHole: 0.3,
            };
    
            var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
            chart.draw(data, options);
          }
        </script>
       <input type="button" onclick="aparece_CPU()" value="Gerar Gráfico">
        <div id="donutchart" style="width:360px; height: 250px;"></div>
        </div>
        </td>
        <td>
                <div align="center">
        <script type="text/javascript">
            google.charts.load("current", {packages:["corechart"]});
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
              var disponivelRAM = 1*document.getElementById("disponivelRAM").value
              var ocupadoRAM = 1*document.getElementById("ocupadoRAM").value
              var data = google.visualization.arrayToDataTable([
                ['Status', 'Valor'],
                ['Ocupado',    ocupadoRAM ],
                ['Disponível',     disponivelRAM ],
              ]);
      
              var options = {
                title: 'RAM',
                colors: ['7f0000','ff9999'],
                pieHole: 0.3,
              };
      
              var chart = new google.visualization.PieChart(document.getElementById('donutRAM'));
              chart.draw(data, options);
            }
          </script>
          <input type="button" onclick="aparece_RAM()" value="Gerar Gráfico">

           <div id="donutRAM" style="width:360px; height: 250px;"></div>
           </div>
        </td>
        <td>
                <div align="center">
        <script type="text/javascript">
            google.charts.load("current", {packages:["corechart"]});
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
              var disponivelSWAP = 1*document.getElementById("disponivelSWAP").value
              var ocupadoSWAP = 1*document.getElementById("ocupadoSWAP").value
              var data = google.visualization.arrayToDataTable([
                ['Status', 'Valor'],
                ['Ocupado',    ocupadoSWAP ],
                ['Disponível',    disponivelSWAP ],
              ]);
      
              var options = {
                title: 'SWAP',
                colors: ['7f0000','ff9999'],
                pieHole: 0.3,
              };
      
              var chart = new google.visualization.PieChart(document.getElementById('donutSWAP'));
              chart.draw(data, options);
            }
          </script>
          <input type="button" onclick="aparece_SWAP()" value="Gerar Gráfico">
           <div id="donutSWAP" style="width:360px; height: 250px;"></div>
           </div>
        </td>
    </tr>
    <tr>
      <td>
        <label for="text">Tempo de Funcionamento: </label>
        
        
       </td>
       <td></td>
       <td></td>
    </tr>
</div>
</table>
<br />

<div align="left">
<tr>
<table>
  <tr>
       <td>
               <div align="left">
       <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
       <script type="text/javascript">
         google.charts.load("current", {packages:["corechart"]});
         google.charts.setOnLoadCallback(drawChart);
         function drawChart() {
          var disponivelDR = 1*document.getElementById("disponivelDR").value
          var ocupadoDR = 1*document.getElementById("ocupadoDR").value
           var data = google.visualization.arrayToDataTable([
             ['Status', 'Valor'],
             ['Usado',     ocupadoDR],
             ['Livre',      disponivelDR],
           ]);
   
           var options = {
             title: 'Disco Rígido',
             colors: ['7f0000','ff9999'],
             pieHole: 0.3,
           };
   
           var chart = new google.visualization.PieChart(document.getElementById('donutdisc'));
           chart.draw(data, options);
         }
       </script>
      <input type="button" onclick="aparece_DR()" value="Gerar Gráfico">
       <div id="donutdisc" style="width:360px; height: 150px;"></div>
       </div>
       </td>
      </tr>
      <tr>
        <td>
          <label for="text">Capacidade de Disco: {{dashboard.capacidadeDisco}}</label>
          
         </td>
         <td>
          <label for="text">Ultima atualização: {{dashboard.day}}/{{dashboard.month}}/{{dashboard.year}} Hora:{{dashboard.hour}}:{{dashboard.minute}}</label>
          
         </td>
         <td></td>
    </table>
    <table cellspacing="10">
                <td>
                    <td align="center">
                 <label for="nome">Status de Processo </label>
                </td>
                </td>
                <td></td>
               </tr>
    </table>
  </tr>
  </div>
  <html>
    <div align = center>
    <head>
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChartCPU);
        google.charts.setOnLoadCallback(drawChartRAM);
        google.charts.setOnLoadCallback(drawChartSWAP);
        google.charts.setOnLoadCallback(drawChartDR);
  
        function drawChartCPU() {

          var data = google.visualization.arrayToDataTable(dataGoogleGraphic["CPU"]);
    
          var options = {
            title: 'Gráfico - CPU',
            curveType: 'function',
            legend: { position: 'bottom' }
          };
  
          var chart = new google.visualization.LineChart(document.getElementById('curve_chart_CPU'));
  
          chart.draw(data, options);
        }

        function drawChartRAM() {
          
          var data = google.visualization.arrayToDataTable(dataGoogleGraphic["RAM"]);
  
          var options = {
            title: 'Gráfico - RAM',
            curveType: 'function',
            legend: { position: 'bottom' }
          };
  
          var chart = new google.visualization.LineChart(document.getElementById('curve_chart_RAM'));
  
          chart.draw(data, options);
        }

        function drawChartSWAP() {
                 
          var data = google.visualization.arrayToDataTable(dataGoogleGraphic["SWAP"]);
  
  
          var options = {
            title: 'Gráfico - SWAP',
            curveType: 'function',
            legend: { position: 'bottom' }
          };
  
          var chart = new google.visualization.LineChart(document.getElementById('curve_chart_SWAP'));
  
          chart.draw(data, options);
        }

        function drawChartDR() {
                 
          var data = google.visualization.arrayToDataTable(dataGoogleGraphic["DISCO"]);
  
  
          var options = {
            title: 'Gráfico - Disco Rígido',
            curveType: 'function',
            legend: { position: 'bottom' }
          };
  
          var chart = new google.visualization.LineChart(document.getElementById('curve_chart_DR'));
  
          chart.draw(data, options);
        }

         function esconde() {
                                document.getElementById("curve_chart_CPU").hidden=true;
                                document.getElementById("curve_chart_RAM").hidden=true;
                                document.getElementById("curve_chart_SWAP").hidden=true;
                                document.getElementById("curve_chart_DR").hidden=true;
                                document.getElementById("b_esconde").hidden=true;
                            }
         function aparece_CPU() {
              document.getElementById("curve_chart_CPU").hidden=false;
              document.getElementById("b_esconde").hidden=false;
              document.getElementById("curve_chart_RAM").hidden=true;
              document.getElementById("curve_chart_SWAP").hidden=true;
              document.getElementById("curve_chart_DR").hidden=true;
          }
          function aparece_RAM() {
              document.getElementById("curve_chart_RAM").hidden=false;
              document.getElementById("b_esconde").hidden=false;
              document.getElementById("curve_chart_CPU").hidden=true;
              document.getElementById("curve_chart_SWAP").hidden=true;
              document.getElementById("curve_chart_DR").hidden=true; 
          }
          function aparece_SWAP() {
              document.getElementById("curve_chart_SWAP").hidden=false;
              document.getElementById("b_esconde").hidden=false;
              document.getElementById("curve_chart_RAM").hidden=true;
              document.getElementById("curve_chart_CPU").hidden=true;
              document.getElementById("curve_chart_DR").hidden=true; 
          }
          function aparece_DR() {
              document.getElementById("curve_chart_DR").hidden=false;
              document.getElementById("b_esconde").hidden=false;
              document.getElementById("curve_chart_RAM").hidden=true;
              document.getElementById("curve_chart_CPU").hidden=true;
              document.getElementById("curve_chart_SWAP").hidden=true; 
          }
      </script>
      
    </head>
    <body onload ="esconde()">
      <div id="curve_chart_CPU" style="width: 900px; height: 500px"></div>
      <div id="curve_chart_RAM" style="width: 900px; height: 500px"></div>
      <div id="curve_chart_SWAP" style="width: 900px; height: 500px"></div>
      <div id="curve_chart_DR" style="width: 900px; height: 500px"></div>
      <input type="button" id="b_esconde" onclick="esconde()" value="Esconder Gráfico">
    </body>
  </div>
  </html>

{% endblock %}


