{% extends "menu.html" %}


{% block content %}

<div >
        <table id="CAMTecnoligaTabela">
    
      <caption><div align="right">
        </div></caption>
    
            <meta http-equiv="content-type" content="text/html;charset=utf-8" />
            <head>
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
               
            </head>
            <body>
                    <div id="divCenter">
                            <h1>Editar Número:</h1>
        <form action="{% url 'numero_edita' numero.id %}" method="POST">
        {% csrf_token %}
        <br />
                            <fieldset>
                       
                             <table cellspacing="10">
                            
                                     <tr>
                                             <td>
                                              <label for="numero">Número: </label>
                                             </td>
                                             <td align="left">
                                              <input type="number" name="numero" value="{{numero.numero}}"readonly="true">
                                             </td>
                                            </tr>
                                            <tr>
                                                 <td>
                                                  <label for="descricao">Origem: </label>
                                                 </td>
                                                 <td align="left">
                                                  <input type="number" name="origem" value="{{numero.origem}}">
                                                 </td>
                                                </tr>
                                                <tr>
                                                        <td>
                                                                <label for="atendido">Atendido: </label>
                                                               </td>
                                                    <td>
                                                        {%if numero.atendido %}
                                                            <INPUT TYPE="checkbox" name="atendido"VALUE="True" checked >
                                                        {% else %}    
                                                            <INPUT TYPE="checkbox" name="atendido"VALUE="True"  >
                                                        {%endif%}
                                                    </td>
                                                   </tr>
                                                   <tr>
                                                        <td>
                                                                <label for="return_ura">Grava chamada: </label>
                                                               </td>
                                                    <td>
                                                        {%if numero.gravaChamada %}
                                                            <INPUT TYPE="checkbox" checked name="grava_chamada" VALUE="True"  >
                                                        {% else %}
                                                        <INPUT TYPE="checkbox" name="grava_chamada" VALUE="True"  >
                                                            {%endif%}
                                                        </td>
                                                   </tr>
                             </table>
                            </fieldset>
                            <br />
             
                <button type="submit">Salvar Alterações</button>
        </form>  
        </div>
        </body> 
    
    </table>
    </div>
{% endblock %}
