{% extends "menu.html" %}
{% load static %}


{% block content %}

<div >
        <table id="CAMTecnoligaTabela">
    
      <caption><div align="right">
        </div></caption>
    
            <meta http-equiv="content-type" content="text/html;charset=utf-8" />
            <head>
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
                <script type="text/javascript" src="http://code.jquery.com/jquery-1.5.1.min.js"></script>
                <script type="text/javascript">
                    $(document).ready(function(){

                    var input = '<div id="ramall" cellspacing="10"><tr><td><label for="precedente">(</label><input type="text" name="precedente" value="{{regra.precedente}}"><label for="prefix">)</label><label for="plus">+</label><input type="text" name="prefix" value="{{regra.prefix}}"><label for="precedente">|</label><input type="text" name="match" value="{{regra.match}}"><a class="remove"><img  src="{% static 'img/minus.png' %}" style="cursor: pointer;" ></a> </td></tr></div>';
                    $("input[name='add']").click(function( e ){
                        $('#inputs_adicionais').append( input );
                    });

                    $('#inputs_adicionais').delegate('a','click',function( e ){
                        e.preventDefault();
                        $( this ).parent('div').remove();

                    });

                    });
                    </script>
            </head>
            <body onload="devolveValores()">
                
                    <div id="divCenter">
                            <div align="center"><h2>Editar Tronco:</h2></div>
        <form action="{% url 'tronco_edita' tronco.id %}" method="POST">
        {% csrf_token %}
        <br />
            <table cellspacing="10">
                    <tr>
                        <td>
                        <label for="nome">Nome do Tronco: </label>
                        </td>
                        <td align="left">
                        <input type="text" name="nome" value="{{tronco.nome}}">
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                        <label for="callerids">CallerID de saída:</label>
                        </td>
                        <td align="left">
                        <input type="text" name="callerids" value="{{tronco.callerIDSaida}}">
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <label for="op_cid">Opções CID</label>
                        </td>
                            <td align="left">
                            <select name="op_cid" id="op_cid">
                                <option value="1">Permitir Qualquer ID</option>
                                <option value="2">Bloquear CIDs Extrangeiros</option>
                                <option value="3">Remover CNAM</option>
                                <option value="4">Forçar Tronco CID</option>
                            </select>
                        </td>
                            <script>
                                function devolveValores() {
                                    
                                    document.getElementById("op_cid").value = {{tronco.opcoesCID}};
                                }
                            </script>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <label for="max_canais">Máximo de Canais: </label>
                            </td>
                            <td align="left">
                                <input type="text" name="max_canais" value="{{tronco.maxCanais}}">
                            </td>
                            <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="op_asterisk">Opções de Discagem de Tronco Asterisk: </label>
                                </td>
                                <td align="left">
                                    <input type="text" name="op_asterisk" value="{{tronco.opcoesDiskAsterisk}}">
                                </td>
                                <td>
                                    {%if tronco.op_asterisk %}
                                    <INPUT TYPE="checkbox" NAME="op_asterisk" VALUE="True" checked>Sobrescrever
                                    {% else %}
                                    <INPUT TYPE="checkbox" NAME="op_asterisk" VALUE="True">Sobrescrever
                                    {%endif%}
                                </td>
                                </tr>
                                    <tr>
                                    <td>
                                        <label for="continua">Continuar se ocupado: </label>
                                        </td>
                                    <td>
                                            {%if tronco.contSeOcup %}
                                            <INPUT TYPE="checkbox" NAME="continua_ocup" VALUE="True" checked>Marque para sempre tentar o próximo tronco
                                            {% else %}
                                            <INPUT TYPE="checkbox" NAME="continua_ocup" VALUE="True">Marque para sempre tentar o próximo tronco
                                            {%endif%}
                                    </td>
                                            <td></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                        <label for="continua">Desabilitar o Tronco: </label>
                                                        </td>
                                            <td>
                                                    {%if tronco.desabTronco %}
                                                    <INPUT TYPE="checkbox" NAME="desab_tronco" VALUE="True" checked>Desabilitado
                                                        {% else %}
                                                        <INPUT TYPE="checkbox" NAME="desab_tronco" VALUE="True">Desabilitado
                                                    {%endif%}
                                            </td>
                                            <td></td>
                                            </tr>
            </table>
            <br />
               
            <div align="center"><label style="display: block"><input type="button" name="add" value="Adicionar Linha" /></label></div>
           <br/>
            <div align="center">
            <div  id="ramall" cellspacing="10"><tr><td><label for="precedente">(</label><input type="text" name="precedente" value="{{regra.precedente}}"><label for="prefix">)</label><label for="plus">+</label><input type="text" name="prefix" value="{{regra.prefix}}"><label for="precedente">|</label><label><input type="text" name="match" value="{{regra.match}}"><a class="remove"><img  src="{% static 'img/minus.png' %}" style="cursor: pointer;" ></a> </td><td><td></td></tr></div>        <fieldset id="inputs_adicionais" style="border: none">
            </fieldset>
        </div>
           
            <br />
            <br />
            <br />
            <table cellspacing="10">
              <tr>
            <td>
             <label for="prefixo_saida">Prefixo de chamadas de saída: </label>
            </td>
            <td align="left">
             <input type="text" name="prefixo_saida" value="{{tronco.prefixChamSaida}}">
            </td>
          </tr>
          </table>
          <br />
          <br />
            <table cellspacing="10">
                    <div id="divCenter">
                            <tr>
                                <td>
                                    <label for="nome_tronco">Nome do tronco: </label>
                                </td>
                                <td align="left">
                                    <input type="text" name="nome_tronco" value="{{tronco.nomeTronco}}">
                                </td>


                                <td>
                                <label for="contexto">Contexto do Usuário: </label>
                                </td>
                                <td align="left">
                                        <input type="text" name="contexto" value="{{tronco.contextoUsuario}}">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="detalhes_peer">Detalhes do PEER: </label>
                                </td>
                                <td align="left">
                                        <textarea rows="10" cols="25" name="detalhes_PEER" value="{{tronco.detalhesPEER}}">
                                                </textarea>
                                </td>

                                <td>
                                        <label for="detalhes_usuário">Detalhes do Usuário: </label>
                                    </td>
                                    <td align="left">
                                            <textarea rows="10" cols="25" name="detalhes_usuarios" value="{{tronco.detalhesUsuario}}">
                                                    host=***provider ip address***
                                                    username=***userid***
                                                    secret=***password***
                                                    type=peer
                                                    </textarea>
                                    </td>
                            </tr>
                            <tr>
                                    <td>
                                        <label for="string_reg">String de Registro: </label>
                                    </td>
                                    <td align="left">
                                        <input type="text" name="string_reg" value="{{tronco.stringRegistro}}">
                                    </td>
                                    <td></td>
                                    <td></td>
                            </tr>
            </table>
            <br />
        <button type="submit">Salvar Alterações</button>
        </form>  
        </div>
        </body> 
    </table>
    </div>
{% endblock %}
