{% extends "menu.html" %}


{% block content %}

<div >
        <table id="CAMTecnoligaTabela">
    
      <caption><div align="right">
        </div></caption>
    
            <meta http-equiv="content-type" content="text/html;charset=utf-8" />
            <head>
               
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            </head>
            <body onload="devolveValores()">
               
                    <div id="divCenter">
                        <div align="center"><h2>editar Chamada em Grupo:</h2></div>
                        <form enctype="multipart/form-data" action="{% url 'chamadasgrupo_edita' chamadasgrupo.id %}" method="POST">
                                {% csrf_token %}
                        <br />
                        
                        <table cellspacing="10">
                
                        <tr>
                                <td>
                                <label for="descricao">Descrição do Grupo: </label>
                                </td>
                                <td align="left">
                                <input type="text" name="descricao" value="{{chamadasgrupo.descricao}}">
                                </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <label for="estrategia">Estratégia Ring</label>
                            </td>
                            <td align="left">
                                    <select name="estrategia" id="estrategia"> 
                                            <option value="1">ringall</option>
                                            <option value="2">ringall-prim</option>
                                            <option value="3">hunt</option>
                                            <option value="4">hunt-prim</option>
                                            <option value="5">memoryhunt</option>
                                            <option value="6">memoryhunt-prim</option>
                                            <option value="7">firstavaible</option>
                                            <option value="8">firstnotonphone</option>
                                </select>
                                <script>
                                    function devolveValores() {
                                        
                                        document.getElementById("estrategia").value = {{chamadasgrupo.estrategia}};
                                        document.getElementById("modo").value = {{chamadasgrupo.modo}};
                                        document.getElementById("gravarChamadas").value = {{chamadasgrupo.gravarChamadas}};
                                    }
                                </script>

                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                            <label for="tempoChamada">Tempo Ring: </label>
                            </td>
                            <td align="left">
                            <input type="number" name="tempoChamada" value="{{chamadasgrupo.tempoChamada}}">
                            </td>
                        <td></td>
                    </tr>
                    <tr>
                            <td>
                                    <label for="listao">Lista de Extensão: </label>
                                </td>
                                <td align="left">
                                        <textarea rows="10" cols="25">
                                                </textarea>
                                </td>
                                <td></td>
                        </tr>
                        <tr>
                                <td>
                                    <label for="extensao_rapida">Extensão de Escolha Rápida</label>
                                </td>
                                <td align="left">
                                        <select name="extensao_rapida"> 
                                        <option value="thg">1021 (Thiago Maluf)</option>
                                    </select>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                    <td>
                                        <label for="anuncioCG">Anúncio</label>
                                    </td>
                                    <td align="left">
                                            <select name="anuncioCG"> 
                                                {%if anuncioCG is null%}
                                                    <option value="0" selected>Nenhum</option>
                                                {%else%}
                                                    <option value="0">Nenhum</option>
                                                {%endif%}
                                                {%for anu in anuncios %}
                                                    {%if anu.id == anuncioCG.id%}
                                                        <option value="{{anu.id}}" selected>{{anu.descricao}}</option>
                                                    {%else%}
                                                        <option value="{{anu.id}}">{{anu.descricao}}</option>
                                                    {%endif%}
                                                {%endfor%}
                                        </select>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                        <td>
                                            <label for="musicaEspera">Tocar Musica em Espera</label>
                                        </td>
                                        <td align="left">
                                                <select name="musicaEspera" id="musicaEspera"> 
                                                <!-- <option selected="selected"  >
                                                                {{chamadasgrupo.musicaEspera}}
                                                </option>  -->
                                                <option value="1">Ring</option>
                                                <option value="2">Agencia-hold</option>
                                                <option value="3">CAM-Hold</option>
                                                <option value="4">Padrão</option>
                                                <option value="5">Nenhum</option>
                                            </select>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                            <td>
                                            <label for="prefixCID">Prefixo de Nome CID: </label>
                                            </td>
                                            <td align="left">
                                            <input type="text" name="prefixCID" value="{{chamadasgrupo.prefixCID}}">
                                            </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                            <td>
                                            <label for="infoAlerta">Informação de Alerta: </label>
                                            </td>
                                            <td align="left">
                                            <input type="text" name="infoAlerta" value="{{chamadasgrupo.infoAlerta}}">
                                            </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                            <td>
                                                    <label for="igConfigCF">Ignorar Configurações CF: </label>
                                                   </td>
                                        <td>
                                                {%if chamadasgrupo.igConfigCF %}
                                                    <INPUT TYPE="checkbox" name="igConfigCF"VALUE="True" checked>
                                                {% else %}
                                                <INPUT TYPE="checkbox" name="igConfigCF"VALUE="True" >
                                                {%endif%}
                                        </td>
                                        <td></td>
                                       </tr>
                                       <tr>
                                            <td>
                                                    <label for="igAgentOcupado">Ignorar Agente Ocupado: </label>
                                                   </td>
                                        <td>
                                                {%if chamadasgrupo.igAgentOcupado %}
                                                    <INPUT TYPE="checkbox" name="igAgentOcupado"VALUE="True" checked >
                                                {% else %}
                                                    <INPUT TYPE="checkbox" name="igAgentOcupado"VALUE="True" >
                                                {%endif%}
                                        </td>
                                        <td></td>
                                       </tr>
                                       <tr>
                                            <td>
                                                    <label for="atendeChamada">Permitir Atender Chamada: </label>
                                                   </td>
                                        <td>
                                                {%if chamadasgrupo.atendeChamada %}
                                                    <INPUT TYPE="checkbox" name="atendeChamada"VALUE="True" checked>
                                                {% else %}
                                                    <INPUT TYPE="checkbox" name="atendeChamada"VALUE="True" >
                                                {%endif%}
                                        </td>
                                        <td></td>
                                       </tr>
                                       <tr>
                                            <td>
                                                    <label for="confirm_chamada">Confirmar Chamadas: </label>
                                                   </td>
                                        <td>
                                                {%if chamadasgrupo.confirmaChamada %}
                                                    <INPUT TYPE="checkbox" name="confirm_chamada"VALUE="True" checked>
                                                {% else %}
                                                    <INPUT TYPE="checkbox" name="confirm_chamada"VALUE="True" >
                                                {%endif%}
                                        </td>
                                        <td></td>
                                       </tr>
                                       <tr>
                                            <td>
                                                <label for="anuncioRemoto">Anúncio Remoto</label>
                                            </td>
                                            <td align="left">
                                                    <select name="anuncioRemoto"> 
                                                        {%if anuncioRemoto is null%}
                                                            <option value="0" selected>Nenhum</option>
                                                        {%else%}
                                                            <option value="0">Nenhum</option>
                                                        {%endif%}
                                                        {%for anu in anuncios %}
                                                            {%if anu.id == anuncioRemoto.id%}
                                                                <option value="{{anu.id}}" selected>{{anu.descricao}}</option>
                                                            {%else%}
                                                                <option value="{{anu.id}}">{{anu.descricao}}</option>
                                                            {%endif%}
                                                        {%endfor%}
                                                </select>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                                <td>
                                                    <label for="anuncioTardio">Anúncio Tardio</label>
                                                </td>
                                                <td align="left">
                                                        <select name="anuncioTardio"> 
                                                            {%if anuncioTardio is null%}
                                                                <option value="0" selected>Nenhum</option>
                                                            {%else%}
                                                                <option value="0">Nenhum</option>
                                                            {%endif%}
                                                            {%for anu in anuncios %}
                                                                {%if anu.id == anuncioTardio.id%}
                                                                    <option value="{{anu.id}}" selected>{{anu.descricao}}</option>
                                                                {%else%}
                                                                    <option value="{{anu.id}}">{{anu.descricao}}</option>
                                                                {%endif%}
                                                            {%endfor%}
                                                    </select>
                                                </td>
                                                <td></td>
                                            </tr>
                                        </table>
                <br/>
          
                        <table cellspacing="10">
                                <tr>
                                        <td>
                                            <label for="modo">Modo</label>
                                        </td>
                                        <td align="left">
                                                <select name="modo"id="modo"> 
                                                <option value="1">Padrão</option>
                                                <option value="2">Valor Fixo de CID</option>
                                                <option value="3">Valor Fixo de CID de Chamadas de Fora</option>
                                                <option value="4">Usar Número Discado</option>
                                                <option value="5">Forçar Número Discado</option>
                                            </select>
                                        </td>
                                        <td></td>
                                        <td></td>

                                    </tr>
                                    <tr>
                                            <td>
                                            <label for="valorFixoCID">Valor Fixo de CID: </label>
                                            </td>
                                            <td align="left">
                                            <input type="text" name="valorFixoCID" value="{{chamadasgrupo.valorFixoCID}}">
                                            </td>
                                        <td></td>
                                        <td></td>

                                    </tr> 
                                    <tr>
                                            <td>
                                                <label for="gravarChamadas">Gravar Chamadas</label>
                                            </td>
                                            <td align="left">
                                                    <select name="gravarChamadas" id="gravarChamadas"> 
                                                    <option value="1">Sempre</option>
                                                    <option value="2">Sob Demanda</option>
                                                    <option value="3">Nunca</option>
                                                </select>
                                            </td>
                                            <td></td>
                                            <td></td>

                                        </tr>   
                                        <tr>
                                                <td>
                                                    <label for="dest">Destino se não Houver Resposta</label>
                                                </td>
                                                <td align="left">
                                                        <select name="dest"> 
                                                        <option value="chose">===escolha um===</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    </td>
                                                    <td align="left">
                                                            <select hidden name="dest"> 
                                                            <option value="chose">IVR CAM</option>
                                                        </select>
                                                    </td>
                                            </tr>    
                                        <br/>      
        
        </div>
        </body> 
    
    </table>
    
    </div>
    <button type="submit">Salvar Alterações</button>

</form>
{% endblock %}
