{% extends "menu.html" %}

{%load static%}
{% block content %}

<div>
        <table id="CAMTecnoligaTabela">

      <caption><div align="right">
        </div></caption>

            <meta http-equiv="content-type" content="text/html;charset=utf-8" />
            <head>
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
                <script language="JavaScript" >
                  function enviardados(){

                          if( document.dados.nome.value == "")
                          {
                          alert( "Há campos a serem preenchidos!" );
                          document.dados.nome.focus();
                          return false;
                          }

                        
                      return true;
                      }
                    
                  </script>
            </head>
            <body>
                    <div id="divCenter">
                            <div align="center"><h2>Editar Música:</h2></div>
        <form action="{% url 'musica_edita' streaming.id %}" method="POST" enctype="multipart/form-data" name="dados" onSubmit="return enviardados();">
        {% csrf_token %}
        <table cellspacing="10">
                <tr>
                        <td>
                        <label for="nome">Nome: </label>
                        </td>
                        <td align="left">
                        <input type="text" name="nome" value="{{streaming.nome}}">
                        </td>
                    <td></td>
                </tr>
                <tr>
                        <td>
                            <label for="exerand">Execução randômica: </label>
                        </td>
                    <td>
                            {%if streaming.execRandom %}
                            <INPUT TYPE="checkbox" NAME="exerand" VALUE="True" checked>
                            {% else %}
                            <INPUT TYPE="checkbox" NAME="exerand" VALUE="True">
                            {%endif%}
                    </td>
                    <td></td>
                    </tr>

                  <tr>
                      <td>
                          <label for="repeticao">Volume</label>
                      </td>
                      <td align="left">
                        <select name="volume" tabindex="3">
                          <option value="1.50">Volume 150%</option>
                          <option value="1.25">Volume 125%</option>
                          <option value="1" selected>Volume 100%</option>
                          <option value=".75">Volume 75%</option>
                          <option value=".5">Volume 50%</option>
                          <option value=".25">Volume 25%</option>
                          <option value=".1">Volume 10%</option>
                        </select>
                      </td>
                      <td></td>

                  </tr>
                  <tr>
                      <br />
                      <tr></tr>
                      <tr><td>
                      <button type="submit" class="formobjects">Salvar Alterações</button>
                    </td>
                    <td></td>
                    <td></td>
                    </tr>
                  </table>
                    <br />
        </form>
        </div>
        <br />
         <div id="divCenter">
           <table>
        <form enctype="multipart/form-data" method="POST" action="{% url 'musica_edt' streaming.id %}">
          {% csrf_token %}
        <td><input type="file" name="anexGravacao" accept="audio/*"></td>
        <td>
        <label for="nomeGravacao">Nome da gravação</label>
        </td>
        <TD><input type="text" name="nomeGravacao"></td></TD>
        <td><button type="submit">Adicionar</button></td>
        </FORM>
      </table>
      </div>

      <br />
      <div align="center"><h3>Gravações Referêntes à Música:</h3></div>
      <ul>
       {%for mus in gravacoes%}
       <div align= center>
         <table>
       <li>{{mus.nome}} <a class="remove" href="{%url 'gravacao_remove' mus.id %}"><img  src="{% static 'img/minus.png' %}" style="cursor: pointer;" ></a></li>
       {%endfor%}
      </table>
      </ul>
     
    </div>
  
  <div align = center>
      <a id="botao" href="/musicas/"><input class="butn" type="button" value="Concluir alterações"></a>
    </div>
    {% endblock %}
