{% extends "menu.html" %}


{% block content %}
{% load static %}

<script src="{% static 'js/destino.js' %}"></script>

<div >
        <table id="CAMTecnoligaTabela">

      <caption><div align="right">
        </div></caption>

            <meta http-equiv="content-type" content="text/html;charset=utf-8" />
            <head>

                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
                <script language="JavaScript" >
                        function enviardados(){

                                if( document.dados.descricao.value == "")
                                {
                                alert( "Há campos a serem preenchidos!" );
                                document.dados.descricao.focus();
                                return false;
                                }

                                if( document.dados.tempoChamada.value == "")
                                {
                                alert( "Há campos a serem preenchidos!" );
                                document.dados.tempoChamada.focus();
                                return false;
                                }

                                if( document.dados.prefixCID.value == "")
                                {
                                alert( "Há campos a serem preenchidos!" );
                                document.dados.prefixCID.focus();
                                return false;
                                }

                                if( document.dados.prefixCID.value == "")
                                {
                                alert( "Há campos a serem preenchidos!" );
                                document.dados.prefixCID.focus();
                                return false;
                                }

                                if( document.dados.valorFixoCID.value == "")
                                {
                                alert( "Há campos a serem preenchidos!" );
                                document.dados.prefixCID.focus();
                                return false;
                                }

                                if( document.dados.tipo_des.value == 0)
                                {
                                alert( "Há campos a serem preenchidos!" );
                                document.dados.tipo_des.focus();
                                return false;
                                }

                                if(document.dados.tipo_des.value == 1 && document.dados.dest_anuncios.value == 0)
                                {
                                alert( "Há campos a serem preenchidos!" );
                                document.dados.dest_anuncios.focus();
                                return false;
                                }

                                if(document.dados.tipo_des.value == 2 && document.dados.dest_gravacoes.value == 0)
                                {
                                alert( "Há campos a serem preenchidos!" );
                                document.dados.dest_gravacoes.focus();
                                return false;
                                }

                                if(document.dados.tipo_des.value == 3 && document.dados.dest_numeros.value == 0)
                                {
                                alert( "Há campos a serem preenchidos!" );
                                document.dados.dest_numeros.focus();
                                return false;
                                }

                                if(document.dados.tipo_des.value == 4 && document.dados.dest_uras.value == 0)
                                {
                                alert( "Há campos a serem preenchidos!" );
                                document.dados.dest_uras.focus();
                                return false;
                                }

                                if(document.dados.tipo_des.value == 5 && document.dados.dest_filas.value == 0)
                                {
                                alert( "Há campos a serem preenchidos!" );
                                document.dados.dest_filas.focus();
                                return false;
                                }

                                if(document.dados.tipo_des.value == 6 && document.dados.dest_chamadasGrupo.value == 0)
                                {
                                alert( "Há campos a serem preenchidos!" );
                                document.dados.dest_chamadasGrupo.focus();
                                return false;
                                }

                                if(document.dados.tipo_des.value == 7 && document.dados.dest_condicoes.value == 0)
                                {
                                alert( "Há campos a serem preenchidos!" );
                                document.dados.dest_condicoes.focus();
                                return false;
                                }

                                if(document.dados.tipo_des.value == 8 && document.dados.dest_troncos.value == 0)
                                {
                                alert( "Há campos a serem preenchidos!" );
                                document.dados.dest_troncos.focus();
                                return false;
                                }

                            return true;
                            }

                        </script>
                </head>
            <body onload="devolveValores()">

                    <div id="divCenter">
                        <div align="center"><h2>editar Chamada em Grupo:</h2></div>
                        <form enctype="multipart/form-data" action="{% url 'chamadasgrupo_edita' chamadasgrupo.id %}" method="POST" name="dados" onSubmit="return enviardados();">
                                {% csrf_token %}
                        <br />

                        <table cellspacing="10">

                        <tr>
                                <td>
                                <label for="descricao">Descrição do Grupo: </label>
                                </td>
                                <td align="left">
                                <input type="text" name="descricao" value="{{chamadasgrupo.descricao}}">
                                </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <label for="estrategia">Estratégia Ring</label>
                            </td>
                            <td align="left">
                                    <select name="estrategia" id="estrategia">
                                            <option value="1">ringall</option>
                                            <option value="2">ringall-prim</option>
                                            <option value="3">hunt</option>
                                            <option value="4">hunt-prim</option>
                                            <option value="5">memoryhunt</option>
                                            <option value="6">memoryhunt-prim</option>
                                            <option value="7">firstavaible</option>
                                            <option value="8">firstnotonphone</option>
                                </select>
                                <script>
                                    function devolveValores() {

                                        document.getElementById("estrategia").value = {{chamadasgrupo.estrategia}};
                                        document.getElementById("modo").value = {{chamadasgrupo.modo}};
                                        document.getElementById("gravarChamadas").value = {{chamadasgrupo.gravarChamadas}};
                                    }
                                </script>

                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                            <label for="tempoChamada">Tempo Ring: </label>
                            </td>
                            <td align="left">
                            <input type="number" name="tempoChamada" value="{{chamadasgrupo.tempoChamada}}">
                            </td>
                        <td></td>
                    </tr>
                    <tr>
                            <td>
                                    <label for="listao">Lista de Extensão: </label>
                                </td>
                                <td align="left">
                                        <textarea rows="10" cols="25" name="lista_ext">{{lista}}</textarea>
                                </td>
                                <td></td>
                        </tr>
                            <tr>
                                    <td>
                                        <label for="anuncioCG">Anúncio</label>
                                    </td>
                                    <td align="left">
                                            <select name="anuncioCG">
                                                {%if anuncioCG is null%}
                                                    <option value="0" selected>Nenhum</option>
                                                {%else%}
                                                    <option value="0">Nenhum</option>
                                                {%endif%}
                                                {%for anu in anuncios %}
                                                    {%if anu.id == anuncioCG.id%}
                                                        <option value="{{anu.id}}" selected>{{anu.descricao}}</option>
                                                    {%else%}
                                                        <option value="{{anu.id}}">{{anu.descricao}}</option>
                                                    {%endif%}
                                                {%endfor%}
                                        </select>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                        <td>
                                            <label for="musicaEspera">Tocar Musica em Espera</label>
                                        </td>
                                        <td align="left">
                                                <select name="musicaEspera" id="musicaEspera">
                                                    {%if musicaEspera is null%}
                                                        <option value="0" selected>Nenhum</option>
                                                    {%else%}
                                                        <option value="0">Nenhum</option>
                                                    {%endif%}
                                                    {%for mus in musicas %}
                                                        {%if mus.id == musicaEspera.id%}
                                                            <option value="{{mus.id}}" selected>{{mus.nome}}</option>
                                                        {%else%}
                                                            <option value="{{mus.id}}">{{mus.nome}}</option>
                                                        {%endif%}
                                                    {%endfor%}
                                            </select>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                            <td>
                                            <label for="prefixCID">Prefixo de Nome CID: </label>
                                            </td>
                                            <td align="left">
                                            <input type="text" name="prefixCID" value="{{chamadasgrupo.prefixCID}}">
                                            </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                            <td>
                                            <label for="infoAlerta">Informação de Alerta: </label>
                                            </td>
                                            <td align="left">
                                            <input type="text" name="infoAlerta" value="{{chamadasgrupo.infoAlerta}}">
                                            </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                            <td>
                                                    <label for="igConfigCF">Ignorar Configurações CF: </label>
                                                   </td>
                                        <td>
                                                {%if chamadasgrupo.igConfigCF %}
                                                    <INPUT TYPE="checkbox" name="igConfigCF"VALUE="True" checked>
                                                {% else %}
                                                <INPUT TYPE="checkbox" name="igConfigCF"VALUE="True" >
                                                {%endif%}
                                        </td>
                                        <td></td>
                                       </tr>
                                       <tr>
                                            <td>
                                                    <label for="igAgentOcupado">Ignorar Agente Ocupado: </label>
                                                   </td>
                                        <td>
                                                {%if chamadasgrupo.igAgentOcupado %}
                                                    <INPUT TYPE="checkbox" name="igAgentOcupado"VALUE="True" checked >
                                                {% else %}
                                                    <INPUT TYPE="checkbox" name="igAgentOcupado"VALUE="True" >
                                                {%endif%}
                                        </td>
                                        <td></td>
                                       </tr>
                                       <tr>
                                            <td>
                                                    <label for="atendeChamada">Permitir Atender Chamada: </label>
                                                   </td>
                                        <td>
                                                {%if chamadasgrupo.atendeChamada %}
                                                    <INPUT TYPE="checkbox" name="atendeChamada"VALUE="True" checked>
                                                {% else %}
                                                    <INPUT TYPE="checkbox" name="atendeChamada"VALUE="True" >
                                                {%endif%}
                                        </td>
                                        <td></td>
                                       </tr>
                                       <tr>
                                            <td>
                                                    <label for="confirm_chamada">Confirmar Chamadas: </label>
                                                   </td>
                                        <td>
                                                {%if chamadasgrupo.confirmaChamada %}
                                                    <INPUT TYPE="checkbox" name="confirm_chamada"VALUE="True" checked>
                                                {% else %}
                                                    <INPUT TYPE="checkbox" name="confirm_chamada"VALUE="True" >
                                                {%endif%}
                                        </td>
                                        <td></td>
                                       </tr>
                                       <tr>
                                            <td>
                                                <label for="anuncioRemoto">Anúncio Remoto</label>
                                            </td>
                                            <td align="left">
                                                    <select name="anuncioRemoto">
                                                        {%if anuncioRemoto is null%}
                                                            <option value="0" selected>Nenhum</option>
                                                        {%else%}
                                                            <option value="0">Nenhum</option>
                                                        {%endif%}
                                                        {%for anu in anuncios %}
                                                            {%if anu.id == anuncioRemoto.id%}
                                                                <option value="{{anu.id}}" selected>{{anu.descricao}}</option>
                                                            {%else%}
                                                                <option value="{{anu.id}}">{{anu.descricao}}</option>
                                                            {%endif%}
                                                        {%endfor%}
                                                </select>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                                <td>
                                                    <label for="anuncioTardio">Anúncio Tardio</label>
                                                </td>
                                                <td align="left">
                                                        <select name="anuncioTardio">
                                                            {%if anuncioTardio is null%}
                                                                <option value="0" selected>Nenhum</option>
                                                            {%else%}
                                                                <option value="0">Nenhum</option>
                                                            {%endif%}
                                                            {%for anu in anuncios %}
                                                                {%if anu.id == anuncioTardio.id%}
                                                                    <option value="{{anu.id}}" selected>{{anu.descricao}}</option>
                                                                {%else%}
                                                                    <option value="{{anu.id}}">{{anu.descricao}}</option>
                                                                {%endif%}
                                                            {%endfor%}
                                                    </select>
                                                </td>
                                                <td></td>
                                            </tr>
                                        </table>
                <br/>

                        <table cellspacing="10">
                                <tr>
                                        <td>
                                            <label for="modo">Modo</label>
                                        </td>
                                        <td align="left">
                                                <select name="modo"id="modo">
                                                <option value="1">Padrão</option>
                                                <option value="2">Valor Fixo de CID</option>
                                                <option value="3">Valor Fixo de CID de Chamadas de Fora</option>
                                                <option value="4">Usar Número Discado</option>
                                                <option value="5">Forçar Número Discado</option>
                                            </select>
                                        </td>
                                        <td></td>
                                        <td></td>

                                    </tr>
                                    <tr>
                                            <td>
                                            <label for="valorFixoCID">Valor Fixo de CID: </label>
                                            </td>
                                            <td align="left">
                                            <input type="text" name="valorFixoCID" value="{{chamadasgrupo.valorFixoCID}}">
                                            </td>
                                        <td></td>
                                        <td></td>

                                    </tr>
                                    <tr>
                                            <td>
                                                <label for="gravarChamadas">Gravar Chamadas</label>
                                            </td>
                                            <td align="left">
                                                    <select name="gravarChamadas" id="gravarChamadas">
                                                    <option value="1">Sempre</option>
                                                    <option value="2">Sob Demanda</option>
                                                    <option value="3">Nunca</option>
                                                </select>
                                            </td>
                                            <td></td>
                                            <td></td>

                                        </tr>
                                        <tr>
                                                <td>
                                                    <label for="dest">Destino se não Houver Resposta</label>
                                                </td>
                                                <td align="left">
                                                  <select name="tipo_des" id="tipo_des" onchange="get_destino()">
                                                      <option value="0">Selecione destino</option>
                                                      {% if chamadasgrupo.destinoTipo == '1'%}
                                                      <option value="1" selected>Anúncio</option>
                                                      <option value="2">Gravação</option>
                                                      <option value="3">Número de Entrada</option>
                                                      <option value="4">URA</option>
                                                      <option value="5">Fila</option>
                                                      <option value="6">Chamada em grupo</option>
                                                      <option value="7">Condições de tempo</option>
                                                      <option value="8">Tronco</option>
                                                      {%else%}
                                                      {%if chamadasgrupo.destinoTipo == '2'%}
                                                      <option value="1" >Anúncio</option>
                                                      <option value="2" selected>Gravação</option>
                                                      <option value="3">Número de Entrada</option>
                                                      <option value="4">URA</option>
                                                      <option value="5">Fila</option>
                                                      <option value="6">Chamada em grupo</option>
                                                      <option value="7">Condições de tempo</option>
                                                      <option value="8">Tronco</option>
                                                      {%else%}
                                                      {%if chamadasgrupo.destinoTipo == '3'%}
                                                      <option value="1" >Anúncio</option>
                                                      <option value="2" >Gravação</option>
                                                      <option value="3" selected>Número de Entrada</option>
                                                      <option value="4">URA</option>
                                                      <option value="5">Fila</option>
                                                      <option value="6">Chamada em grupo</option>
                                                      <option value="7">Condições de tempo</option>
                                                      <option value="8">Tronco</option>
                                                      {%else%}
                                                      {%if chamadasgrupo.destinoTipo == '4'%}
                                                      <option value="1" >Anúncio</option>
                                                      <option value="2" >Gravação</option>
                                                      <option value="3" >Número de Entrada</option>
                                                      <option value="4" selected>URA</option>
                                                      <option value="5">Fila</option>
                                                      <option value="6">Chamada em grupo</option>
                                                      <option value="7">Condições de tempo</option>
                                                      <option value="8">Tronco</option>
                                                      {%else%}
                                                      {%if chamadasgrupo.destinoTipo == '5'%}
                                                      <option value="1" >Anúncio</option>
                                                      <option value="2" >Gravação</option>
                                                      <option value="3" >Número de Entrada</option>
                                                      <option value="4" >URA</option>
                                                      <option value="5" selected>Fila</option>
                                                      <option value="6">Chamada em grupo</option>
                                                      <option value="7">Condições de tempo</option>
                                                      <option value="8">Tronco</option>
                                                      {%else%}
                                                      {%if chamadasgrupo.destinoTipo == '6'%}
                                                      <option value="1" >Anúncio</option>
                                                      <option value="2" >Gravação</option>
                                                      <option value="3" >Número de Entrada</option>
                                                      <option value="4" >URA</option>
                                                      <option value="5" >Fila</option>
                                                      <option value="6" selected>Chamada em grupo</option>
                                                      <option value="7">Condições de tempo</option>
                                                      <option value="8">Tronco</option>
                                                      {%else%}
                                                      {%if chamadasgrupo.destinoTipo == '7'%}
                                                      <option value="1" >Anúncio</option>
                                                      <option value="2" >Gravação</option>
                                                      <option value="3" >Número de Entrada</option>
                                                      <option value="4" >URA</option>
                                                      <option value="5" >Fila</option>
                                                      <option value="6" >Chamada em grupo</option>
                                                      <option value="7" selected>Condições de tempo</option>
                                                      <option value="8">Tronco</option>
                                                      {%else%}
                                                      {%if chamadasgrupo.destinoTipo == '8'%}
                                                      <option value="1" >Anúncio</option>
                                                      <option value="2" >Gravação</option>
                                                      <option value="3" >Número de Entrada</option>
                                                      <option value="4" >URA</option>
                                                      <option value="5" >Fila</option>
                                                      <option value="6" >Chamada em grupo</option>
                                                      <option value="7" >Condições de tempo</option>
                                                      <option value="8" selected>Tronco</option>
                                                      {%else%}
                                                      <option value="1" >Anúncio</option>
                                                      <option value="2" >Gravação</option>
                                                      <option value="3" >Número de Entrada</option>
                                                      <option value="4" >URA</option>
                                                      <option value="5" >Fila</option>
                                                      <option value="6" >Chamada em grupo</option>
                                                      <option value="7" >Condições de tempo</option>
                                                      <option value="8">Tronco</option>

                                                      {%endif%}
                                                      {%endif%}
                                                      {%endif%}
                                                      {%endif%}
                                                      {%endif%}
                                                      {%endif%}
                                                      {%endif%}
                                                      {%endif%}
                                              </select>
                                          </td>
                                          <td align="left">
                                            {%if chamadasgrupo.destinoTipo == '1'%}
                                                  <select  name="dest_anuncios" id="dest_anuncios">
                                                    <option value="0">--</option>
                                                    {%for dest in dest_anuncios %}
                                                      {%if chamadasgrupo.destino == dest.id%}
                                                      <option value="{{dest.id}}" selected>{{dest.descricao}}</option>
                                                      {%else%}
                                                        <option value="{{dest.id}}">{{dest.descricao}}</option>
                                                      {%endif%}
                                                    {%endfor%}
                                                  </select>
                                            {%else%}
                                              <select  name="dest_anuncios" id="dest_anuncios" hidden>
                                                <option value="0">--</option>
                                                {%for dest in dest_anuncios %}
                                                  <option value="{{dest.id}}">{{dest.descricao}}</option>
                                                {%endfor%}
                                              </select>
                                            {%endif%}

                                            {%if chamadasgrupo.destinoTipo == '2'%}
                                                  <select  name="dest_gravacoes" id="dest_gravacoes" >
                                                    <option value="0">--</option>
                                                    {%for dest in dest_gravacoes %}
                                                      {%if chamadasgrupo.destino == dest.id%}
                                                        <option value="{{dest.id}}" selected>{{dest.nome}}</option>
                                                        {%else%}
                                                          <option value="{{dest.id}}">{{dest.nome}}</option>
                                                        {%endif%}
                                                    {%endfor%}
                                              </select>
                                            {%else%}
                                            <select  name="dest_gravacoes" id="dest_gravacoes" hidden>
                                              <option value="0">--</option>
                                              {%for dest in dest_gravacoes %}
                                                <option value="{{dest.id}}">{{dest.nome}}</option>
                                              {%endfor%}
                                            </select>
                                            {%endif%}

                                            {%if chamadasgrupo.destinoTipo == '3'%}
                                                  <select  name="dest_numeros" id="dest_numeros" >
                                                    <option value="0">--</option>
                                                    {%for dest in dest_numeros %}
                                                    {%if chamadasgrupo.destino == dest.id%}
                                                      <option value="{{dest.id}}" selected>{{dest.numero}}</option>
                                                      {%else%}
                                                        <option value="{{dest.id}}">{{dest.numero}}</option>
                                                      {%endif%}
                                                    {%endfor%}
                                              </select>
                                              {%else%}
                                              <select  name="dest_numeros" id="dest_numeros" hidden>
                                                <option value="0">--</option>
                                                {%for dest in dest_numeros %}
                                                  <option value="{{dest.id}}">{{dest.numero}}</option>
                                                {%endfor%}
                                          </select>
                                          {%endif%}

                                            {%if chamadasgrupo.destinoTipo == '4'%}
                                                  <select  name="dest_uras"  id="dest_uras">
                                                    <option value="0">--</option>
                                                    {%for dest in dest_uras %}
                                                    {%if chamadasgrupo.destino == dest.id%}
                                                      <option value="{{dest.id}}" selected>{{dest.nome}}</option>
                                                      {%else%}
                                                        <option value="{{dest.id}}">{{dest.nome}}</option>
                                                      {%endif%}
                                                    {%endfor%}
                                              </select>
                                              {%else%}
                                              <select  name="dest_uras" hidden id="dest_uras">
                                                <option value="0">--</option>
                                                {%for dest in dest_uras %}
                                                  <option value="{{dest.id}}">{{dest.nome}}</option>
                                                {%endfor%}
                                          </select>
                                          {%endif%}
                                          {%if chamadasgrupo.destinoTipo == '5'%}
                                                <select  name="dest_filas"  id="dest_filas">
                                                  <option value="0">--</option>
                                                  {%for dest in dest_filas %}
                                                  {%if chamadasgrupo.destino == dest.id%}
                                                    <option value="{{dest.id}}" selected>{{dest.nome}}</option>
                                                    {%else%}
                                                      <option value="{{dest.id}}">{{dest.nome}}</option>
                                                    {%endif%}
                                                  {%endfor%}
                                            </select>
                                          {%else%}
                                            <select  name="dest_filas" hidden id="dest_filas">
                                              <option value="0">--</option>
                                              {%for dest in dest_filas %}
                                                <option value="{{dest.id}}">{{dest.nome}}</option>
                                              {%endfor%}
                                            </select>
                                          {%endif%}
                                          {%if chamadasgrupo.destinoTipo == '6'%}
                                          <select  name="dest_chamadasGrupo"  id="dest_chamadasGrupo">
                                            <option value="0">--</option>
                                            {%for dest in dest_chamadasGrupo %}
                                            {%if chamadasgrupo.destino == dest.id%}
                                              <option value="{{dest.id}}" selected>{{dest.descricao}}</option>
                                              {%else%}
                                                <option value="{{dest.id}}">{{dest.descricao}}</option>
                                              {%endif%}
                                            {%endfor%}
                                          </select>
                                          {%else%}
                                          <select  name="dest_chamadasGrupo" hidden id="dest_chamadasGrupo">
                                            <option value="0">--</option>
                                            {%for dest in dest_chamadasGrupo %}
                                              <option value="{{dest.id}}">{{dest.descricao}}</option>
                                            {%endfor%}
                                          </select>
                                          {%endif%}
                                          {%if chamadasgrupo.destinoTipo == '7'%}
                                            <select  name="dest_condicoes"  id="dest_condicoes">
                                              <option value="0">--</option>
                                              {%for dest in dest_condicoes %}
                                              {%if chamadasgrupo.destino == dest.id%}
                                                <option value="{{dest.id}}" selected>{{dest.nome}}</option>
                                                {%else%}
                                                  <option value="{{dest.id}}">{{dest.nome}}</option>
                                                {%endif%}
                                              {%endfor%}
                                            </select>
                                          {%else%}
                                          <select  name="dest_condicoes" hidden id="dest_condicoes">
                                            <option value="0">--</option>
                                            {%for dest in dest_condicoes %}
                                              <option value="{{dest.id}}">{{dest.nome}}</option>
                                            {%endfor%}
                                          </select>
                                          {%endif%}
                                          {%if chamadasgrupo.destinoTipo == '8'%}
                                          <select  name="dest_troncos"  id="dest_troncos">
                                            <option value="0">--</option>
                                            {%for dest in dest_troncos %}
                                            {%if chamadasgrupo.destino == dest.id%}
                                              <option value="{{dest.id}}" selected>{{dest.nome}}</option>
                                              {%else%}
                                                <option value="{{dest.id}}">{{dest.nome}}</option>
                                              {%endif%}
                                            {%endfor%}
                                          </select>
                                          {%else%}
                                          <select  name="dest_troncos" hidden id="dest_troncos">
                                            <option value="0">--</option>
                                            {%for dest in dest_troncos %}
                                              <option value="{{dest.id}}">{{dest.nome}}</option>
                                            {%endfor%}
                                          </select>
                                          {%endif%}
                                        </td><TD></TD>
                                            </tr>
                                        <br/>

        </div>
        </body>

    </table>

    </div>
    <button type="submit" class="formobjects">Salvar Alterações</button>

</form>
{% endblock %}
