{% extends "menu.html" %}

{% block content %}
{% load static %}
<script src="{% static 'js/relGraficos.js' %}"></script>

<style>
.hidden {
  display: none;
}
</style>
{% block javascript %}{% endblock %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
var originados = {{originados | safe}}
var destinados = {{destinados | safe}}
var canais = {{canais | safe}}
var relatorio = {{relatorio | safe}}
console.log(relatorio)

google.charts.load("current", {packages:["corechart"]});
google.charts.setOnLoadCallback(montaGraficoOriginadas);
google.charts.setOnLoadCallback(montaGraficoDestinadas);

google.charts.load('current', {'packages':['line']});
google.charts.setOnLoadCallback(montaRelatorios);

function montaGraficoOriginadas(){
  var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows(originados);
  var options = {'title':'Chamadas originadas por canal',
                  'colors': ['7f0000','ff9999', 'fac9b8', 'e2d4b7','9c9583','a62639', 'db324d', 'f15946','faedca','e6eed6'],
                  'width':400,
                  'height':300};

  var chart = new google.visualization.PieChart(document.getElementById('chart1_div'));
  chart.draw(data, options);

}

function montaGraficoDestinadas(){
  var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows(destinados);
  var options = {'title':'Chamadas destinadas ao canal',
                  'colors': ['7f0000','ff9999', 'fac9b8', 'e2d4b7','9c9583','a62639', 'db324d', 'f15946','faedca','e6eed6'],
                  'width':400,
                  'height':300};

  var chart = new google.visualization.PieChart(document.getElementById('chart2_div'));
  chart.draw(data, options);

}

function montaRelatorios() {

  var data = new google.visualization.DataTable();
  data.addColumn('string', 'Dia');
  for(var i in canais){
     var nome = canais[i];
     data.addColumn('number', nome);
  }

  data.addRows(relatorio);

  var options = {
    chart: {
      title: 'Relatório de chamadas por canal'
    },
    width: 800,
    height: 400
  };

  var chart = new google.charts.Line(document.getElementById('chart3_div'));

  chart.draw(data, google.charts.Line.convertOptions(options));
    }
  </script>
</head>
<body>
  <div id="line_top_x"></div>
</body>
</html>


</script>
<br />
<div>

  <form method="GET" name="dados" id="dados" >
              {% csrf_token %}
          <table cellspacing="10">
                  <tr>

                          <td>
                                  <label for="campo">Filtro</label>
                              </td>
                              <td align="left">
                                      <select name="filtro" id="filtro" onChange="selecionaFiltroPizza();">
                                      <option value="vazio" selected>Nenhum</option>
                                      <option value="hora" >Hora</option>
                                      <option value="dia" >Dia</option>
                                      <option value="inter" >Intervalo</option>

                                  </select>
                              </td>
                              <td align="left" class="hidden" id="dia">
                                <input type="date" name="dia"  value="{{dia}}">
                              </td>
                              <td align="left" class="hidden" id="hora">
                                <input type="time" name="hora"  value="{{hora}}">
                              </td>

                              <td align="left" class="hidden" id="data_inicio">
                                <input type="date" name="data_inicio"  value="{{dataInicioGraficoPizza}}">
                              </td>

                              <td align="left" class="hidden" id="data_fim">
                                <input type="date" name="data_fim"  value="{{dataFimGraficoPizza}}">
                              </td>
                      <td></td>
                  </tr>

                  <tr>

                          <td><button type="submit" class="formobjects">Pesquisar</button></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          </tr>
          </table>
          <br />
          <tr>
              <td>

              </td>
          </tr>
  <table>
      <meta http-equiv="content-type" content="text/html;charset=utf-8" />

  </table>
  </body>
  </form>
</div>

<div>
  <br />
  <table>
    <tr>
      <td>
        <div id="chart1_div" style="width:400; height:300"></div>
      </td>
      <td>
        <div id="chart2_div" style="width:400; height:300"></div>
      </td>
    </tr>
  </table>
</div>
<br />
<br />
<form method="GET" name="relatoriocanal" id="relatoriocanal" >
  <table>
    <tr>
      <td>Filtro de tempo</td>
      <td>
        <select name="apurar" id="apurar">
          <option value="dia" selected>Dia</option>
          <option value="hora" >Hora</option>
          <option value="min" >Minuto</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Tipo de chamadas</td>
      <td>
        <select name="chamadas" id="chamadas">
          <option value="todas" selected>Todas as chamadas</option>
          <option value="atend" >Chamadas atendidas</option>
        </select>
      </td>
    </tr>
  </table>

  <br /> <br />

  <table>
    <tr>
      <td>
        <div id="chart3_div" ></div>
      </td>
    </tr>
  </table>

</form>

{%endblock%}
