{% extends "menu.html" %}
{% load render_table from django_tables2 %}
{%load static%}

{% block content %}
<div >
        <table id="CAMTecnoligaTabela">

      <caption><h1>Logs</h1><div align="right">
        </div></caption>

        <caption><div align="right">
        </div></caption>

            <meta http-equiv="content-type" content="text/html;charset=utf-8" />
            <head>
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            </head>
            <body>
                    <div id="divCenter">
                            <br />
        <form action="{% url 'busca_logs_server'%}" method="POST">
          {% csrf_token %}
                <table cellspacing="10">
                        <tr>
                                <td>
                                <label for="data_inicio">Data Início: </label>
                                </td>
                                <td align="left">
                                <input type="date" name="data_inicio" value="{{dataInicio}}">
                                </td>

                            <td></td>
                        </tr>
                        <tr>
                                <td>
                                <label for="data_fim">Data Fim: </label>
                                </td>
                                <td align="left">
                                <input type="date" name="data_fim" value="{{dataFim}}">
                                </td>
                                <td>
                                  <td></td>
                      <tr>
                        <td>
                        <label for="data_fim">Filtro: </label>
                        </td>
                        <td align="left">
                        <input type="text" name="filtro" value="{{filtro}}">
                        </td>
                        <td>
                        </td>
                        <td></td>
                      </tr>

    </table>
    <br />
    <div align="center"><button type="submit">Pesquisar</button></div>
  </form>
    {% render_table table %}


    </div>
{% endblock %}
