{% extends "menu.html" %}
{% load render_table from django_tables2 %}


{% block content %}
<div >
        <table id="CAMTecnoligaTabela">

      <caption><h1>Logs</h1><div align="right">
        </div></caption>

        <caption><div align="right">
        </div></caption>

            <meta http-equiv="content-type" content="text/html;charset=utf-8" />
            <head>
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            </head>
            <body>
                    <div id="divCenter">
                            <br />
        <form action="{% url 'busca_logs'%}" method="POST">
          {% csrf_token %}
                <table cellspacing="10">
                        <tr>
                                <td>
                                <label for="data_inicio">Data Início: </label>
                                </td>
                                <td align="left">
                                <input type="date" name="data_inicio" value="{{dataInicio}}">
                                </td>
                                    <td align="left">
                                      <select name="tipo_log">
                                        <option value="todos" {%if tipoLog == "todos"%} selected {%endif%}>Todos os logs</option>
                                        <option value="ura" {%if tipoLog == "ura"%} selected {%endif%}>URA</option>
                                        <option value="num" {%if tipoLog == "num"%} selected {%endif%}>Número de entrada</option>
                                        <option value="tronco" {%if tipoLog == "tronco"%} selected {%endif%}>Tronco</option>
                                        <option value="anun" {%if tipoLog == "anun"%} selected {%endif%}>Anúncio</option>
                                        <option value="cham" {%if tipoLog == "cham"%} selected {%endif%}>Chamada em grupo</option>
                                        <option value="fila" {%if tipoLog == "fila"%} selected {%endif%}>Fila</option>
                                        <option value="mus" {%if tipoLog == "mus"%} selected {%endif%}>Música em espera</option>
                                        <option value="cond" {%if tipoLog == "cond"%} selected {%endif%}>Condições de tempo</option>
                                        </select>
                                    </td>

                            <td></td>
                        </tr>
                        <tr>
                                <td>
                                <label for="data_fim">Data Fim: </label>
                                </td>
                                <td align="left">
                                <input type="date" name="data_fim" value="{{dataFim}}">
                                </td>
                                <td></td>
                                <td></td>
    </table>
    <br />
    <div align="center"><button type="submit">Pesquisar</button></div>
    {% render_table table %}


    </div>
{% endblock %}
