{% extends "menu.html" %}


{% block content %}
<div >
        <table id="CAMTecnoligaTabela">
    
      <caption><h1>Logs</h1><div align="right">
        </div></caption>
    
        <caption><div align="right">
        </div></caption>
    
            <meta http-equiv="content-type" content="text/html;charset=utf-8" />
            <head>
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            </head>
            <body>
                    <div id="divCenter">
                            <br />
        <form action="{% url 'streaming_novo'%}" method="POST">
                <table cellspacing="10">
                        <tr>
                                <td>
                                <label for="data_inicio">Data Início: </label>
                                </td>
                                <td align="left">
                                <input type="text" name="data_inicio">
                                </td>
                                    <td align="left">
                                      <select name="campo">
                                        <option value="ura">URA</option>                                       
                                        <option value="tronco">Tronco</option>
                                        <option value="mus">Música</option>
                                        <option value="fila">Fila</option>
                                        <option value="cham">Chamada em grupo</option>
                                        </select>
                                    </td>   
                                           
                            <td></td>
                        </tr>
                        <tr>
                                <td>
                                <label for="data_fim">Data Fim: </label>
                                </td>
                                <td align="left">
                                <input type="text" name="data_fim">
                                </td>
                                <td></td>
                                <td></td>
    </table>
    <br />
    <div align="center"><button type="submit">Pesquisar</button></div>

    </div>
{% endblock %}