{% extends "menu.html" %}
{% load render_table from django_tables2 %}


{% block content %}
<div >
        <table id="CAMTecnoligaTabela">
    
      <caption><h1>Música</h1><div align="right">
                <a id="botao" href="/musicas/addmusica"><input class="butn" type="button" value="Adicionar Categoria de Música"></a>
                <a id="botao" href="/musicas/addstreaming"><input class="butn" type="button" value="Adicionar Categoria de Streaming"></a>

        </div></caption>
    
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
   <!-- colocar o render table aqui  -->
   {% render_table table %}

    </table>
    </div>

{% endblock %}
