{% extends "menu.html" %}
{% load static %}

{% load render_table from django_tables2 %}

{% load querystring from django_tables2 %}
{% load staticfiles %}

{% block content %}

<script src="{% static 'js/modal.js' %}"></script>
<div >
    <table id="CAMTecnoligaTabela">
            <caption><h1>Relatórios</h1><div align="right">

  <caption><div align="right">
    </div></caption>

        <head>
            <meta http-equiv="Content-Type" content="multipart/mixed " />
        </head>
        <body>
                <div id="divCenter">
                        <br />
  <div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p></p>
    <fieldset id="detahesModal"></fieldset>
  </div>

</div>

    <form action="{% url 'busca_relatorios'%}" method="POST" name="dados" >
                {% csrf_token %}
            <table cellspacing="10">
                    <tr>
                            <td>
                            <label for="data_inicio">Data Início: </label>
                            </td>
                            <td align="left">
                            <input type="date" name="data_inicio" value="{{dataInicioRelatorio}}"></input>
                            </td>
                            <td>
                                    <label for="campo">Campo</label>
                                </td>
                                <td align="left">
                                        <select name="campo">
                                        <option value="vazio">Nenhum</option>
                                        <option value="org" {%if campo == "org"%} selected{%endif%}>Origem</option>
                                        <option value="dest" {%if campo == "dest"%} selected{%endif%}>Destino</option>
                                        <option value="cano" {%if campo == "cano"%} selected{%endif%}>Canal Origem</option>
                                        <option value="cand" {%if campo == "cand"%} selected{%endif%}>Canal Destino</option>
                                    </select>
                                </td>
                                        <td align="left">
                                        <input type="text" name="campo_input" value="{{campo_input}}">
                                        </td>
                    </tr>
                    <tr>
                            <td>
                            <label for="data_fim">Data Fim: </label>
                            </td>
                            <td align="left">
                            <input type="date" name="data_fim" value="{{dataFimRelatorio}}">
                            </td>
                            <td>
                                    <label for="status">Status</label>
                                </td>
                                <td align="left">
                                        <select name="status">
                                        <option value="">Todos</option>
                                        <option value="ANSWERED" {%if status == "ANSWERED"%} selected{%endif%}>Respondidos</option>
                                        <option value="BUSY" {%if status == "BUSY"%} selected{%endif%}>Ocupados</option>
                                        <option value="FAILED" {%if status == "FAILED"%} selected{%endif%}>Fracassados</option>
                                        <option value="NO ANSWER" {%if status == "NO ANSWER"%} selected{%endif%}>Sem Resposta</option>
                                    </select>
                                </td>
                        <td></td>
                    </tr>
                    <tr>
                      <td><label for="variavel">Variável:</label></td>
                      <td>
                        <select name="variavel">
                          <option value="">Nenhuma</option>
                          {%for var in variaveis%}
                            <option value="{{var.variavel}}" {%if vrl == var.variavel%}selected{%endif%}>{{var.variavel}}</option>
                          {%endfor%}
                        </select>
                      </td>
                      <td></td>
                      <td>
                        <input type="text" name="valvar" value="{{valvar}}"></input>
                      </td>
                    </tr>
                    <tr>

                            <td><button type="submit" class="formobjects">Pesquisar</button></td>
                            <td></td><td></td><td></td><td></td>
                            </tr>
            </table>
            <br />
            <tr>
                <td>

                </td>
            </tr>
<table>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />

</table>
</body>
</form>
<!-- <button type="submit">Imprimir</button></td> -->
<!--<input type="button" value="Imprimir em PDF" onclick="printPage('block1');"></input>-->
<a href="{% querystring '_export'='pdf' %}"><button>Imprimir em PDF</button></a>
<a href="{% querystring '_export'='xls' %}"><button>Exportar para Excel</button></a>

<div id=block1>
    <table id=tblData>
{% render_table table %}
</table>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="{% static 'js/jquery.btechco.excelexport.js' %}"></script>
<script src="{% static 'js/jquery.base64.js' %}"></script>

<script>
    function printPage(id)
    {
       var html="<html>";
       html+= document.getElementById(id).innerHTML;

       html+="</html>";

       var printWin = window.open('','','left=0,top=0,width=1,height=1,toolbar=0,scrollbars=0,status  =0');
       printWin.document.write(html);
       printWin.document.close();
       printWin.focus();
       printWin.print();
       printWin.close();
    }
    </script>
{% endblock %}
