{% extends "menu.html" %}
{% load static %}
{% block content %}

<div >
        <table id="CAMTecnoligaTabela">
    
      <caption><div align="right">
        </div></caption>
    
            <meta http-equiv="content-type" content="text/html;charset=utf-8" />
            <head>
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
                
            </head>
            <body>
                    <div id="divCenter">
                            <div align="center"><h2>Adicionar URA:</h2></div>
        <form action="{% url 'ura_novo' %}" method="POST">
            {% csrf_token %}
                <table cellspacing="10">
                    <tr>
                        <td>
                                <label for="anuncio">Anúncio:</label>
                               </td>
                               <td align="left">
                                <select name="anuncio"> 
                                <option value="null">Nenhum</option>
                                {%for anu in anuncios %}
                                        <option value="{{anu.id}}">{{anu.descricao}}</option>    
                                {%endfor%}
                               </select>
                </td>
                  </tr>
                 <tr>
                    <td>
                     <label for="descrição">Descrição: </label>
                    </td>
                    <td align="left">
                     <input type="text" name="descrição">
                    </td>
                   </tr>
                   <tr>
                        <td>
                         <label for="timeout">Timeout: </label>
                        </td>
                        <td align="left">
                         <input type="text" name="timeout">
                        </td>
                       </tr>
                    <tr>
                        <td>
                            <label for="tent_inv">Tentativas Inválidas</label>
                        </td>
                        <td align="left">
                                <select name="tent_inv"> 
                                <option value="dis">Disabled</option>
                                <option value="00">00</option> 
                                <option value="01">01</option> 
                                <option value="02">02</option> 
                                <option value="03">03</option> 
                                <option value="04">04</option> 
                                <option value="05">05</option> 
                                <option value="06">06</option> 
                                <option value="07">07</option> 
                                <option value="08">08</option> 
                                <option value="09">09</option> 
                                <option value="10">10</option> 
                            </select>
                        </td>
                    </tr>
                    <tr>
                            <td>
                                    <label for="invrerecor">Gravação de Repetição Inválida:</label>
                                   </td>
                                   <td align="left">
                                    <select name="invrerecor"> 
                                    <option value="nem">Padrão</option> 
                                   </select>
                    </td>
                      </tr>
                      <tr>
                            <td>
                                    <label for="app_ann_inv">Anexar Anúncio em Inválido: </label>
                                   </td>
                        <td>
                      
                                <INPUT TYPE="checkbox" NAME="app_ann_inv" VALUE="True">
                               
                        </td>
                       </tr>
                   <tr>
                        <td>
                                <label for="ReturnInvalid">Retornar em Inválido: </label>
                               </td>
                    <td>
                      
                            <INPUT TYPE="checkbox" NAME="ReturnInvalid" VALUE="True">
                            
                    </td>
                   </tr>
                   <tr>
                        <td>
                         <label for="gravinvalid">Gravação Inválida:</label>
                        </td>
                        <td align="left">
                         <select name="gravinvalid"> 
                         <option value="def">Padrão</option>  
                        </select>
                        </td>
                    </tr>
                    <tr>
                            <td>
                             <label for="destin">Destino Inválido:</label>
                            </td>
                            <td align="left">
                             <select name="destin"> 
                             <option value="def">==escolha um==</option>  
                            </select>
                            </td>
                        </tr>
                        <tr>
                                <td>
                                    <label for="timeout_ret">Retentativas de Tempo Esgotado</label>
                                </td>
                                <td align="left">
                                        <select name="timeout_ret"> 
                                        <option value="dis">Disabled</option>
                                        <option value="00">00</option> 
                                        <option value="01">01</option> 
                                        <option value="02">02</option> 
                                        <option value="03">03</option> 
                                        <option value="04">04</option> 
                                        <option value="05">05</option> 
                                        <option value="06">06</option> 
                                        <option value="07">07</option> 
                                        <option value="08">08</option> 
                                        <option value="09">09</option> 
                                        <option value="10">10</option> 
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                    <td>
                                            <label for="append_anon_timout">Anexar Anúncio no Tempo Limite: </label>
                                           </td>
                                <td>
                                 
                                        <INPUT TYPE="checkbox" NAME="append_anon_timout" VALUE="True">
                                       
                                </td>
                               </tr>
                               <tr>
                                    <td>
                                            <label for="return_timout">Retorno no Tempo Esgotado: </label>
                                           </td>
                                <td>
                                   
                                        <INPUT TYPE="checkbox" NAME="append_anon_timout" VALUE="True">
                                        
                                </td>
                               </tr>
                               <tr>
                                    <td>
                                     <label for="timeout_record">Gravação de Tempo Esgotado:</label>
                                    </td>
                                    <td align="left">
                                     <select name="timeout_record"> 
                                     <option value="def">Padrão</option>  
                                    </select>
                                    </td>
                                </tr>
                                <tr>
                                        <td>
                                         <label for="timeout_dest">Destino de Tempo Esgotado:</label>
                                        </td>
                                        <td align="left">
                                         <select name="timeout_dest"> 
                                         <option value="def">==escolha um==</option>  
                                        </select>
                                        </td>
                                    </tr>
                                    <tr>
                                            <td>
                                                    <label for="return_ura">Retorna para URA após Caixa Postal: </label>
                                                   </td>
                                        <td>
                                           
                                                <INPUT TYPE="checkbox" NAME="append_anon_timout" VALUE="True">
                                                    
                                        </td>
                                       </tr>
                </table>
               
               <br />
               <!-- ENDEREÇO -->
          
                <table cellspacing="10">
               
                        <tr>
                                <td>
                                 <label for="nome">Nome: </label>
                                </td>
                                <td align="left">
                                 <input type="text" name="nome">
                                </td>
                               </tr>
                               <tr>
                                    <td>
                                     <label for="descricao">Descrição: </label>
                                    </td>
                                    <td align="left">
                                     <input type="text" name="descricao">
                                    </td>
                                   </tr>
                </table>
               <br />

               <br />
               <!-- ENDEREÇO -->
                
                <table cellspacing="10" id="ramall">
                        <div id="ramal">
                                <tr>
                                        <td>
                                         <label for="nome">Nome: </label>
                                        </td>
                                        <td align="left">
                                         <input type="text" name="nome">
                                        </td>
                        

                                        <td>
                                        <label for="destino">Destino: </label>
                                        </td>
                                        <td align="left">
                                            <select name="tipo_destino"> 
                                            <option value="def">==escolha um==</option>  
                                        </select>
                                        </td>
                                        <td>
                                            <select hidden name="destino">
                                            <option value="def">==escolha um==</option>
                                            </select>
                                        </td>
                                        
                                        <td>
                                                <label for="returna">Retornar: </label>
                                               </td>
                                    <td>
                                       
                                            <INPUT TYPE="checkbox" NAME="retorna" VALUE="True">
                                        
                                    </td>
                                    <td>
                                       
                                                
                                                <img  src="{% static 'img/minus.png' %}" style="cursor: pointer;" onclick="removerCampos(this);"> 
                                                <img  src="{% static 'img/plus.png' %}" style="cursor: pointer;" onclick="duplicarCampos();">
                                            
                                        </td>
                                    </tr>
                                    
                                </div>
                                <script>function duplicarCampos(){
                                        var clone = document.getElementById('ramall').cloneNode(true);
                                        var destino = document.getElementById('destino');
                                        destino.appendChild (clone);
                                        
                                        var camposClonados = clone.getElementsByTagName('input');
                                        
                                        for(i=0; i<camposClonados.length;i++){
                                                camposClonados[i].value = '';
                                        }
                                }
                                
                                function removerCampos(id){
                                        var node1 = document.getElementById('destino');
                                        node1.removeChild(node1.childNodes[0]);
                                }</script>
                                <div id="destino">
                                        
                </table>                
               
               <br />
               
               
               <br />
              
               <button type="submit">Criar URA</button>
               </form>
</div>

</div>
</body> 
    
    </table>
    </div>
{% endblock %}
