{% extends "menu.html" %}
{% load static %}
{% block content %}

<script src="{% static 'js/destino.js' %}"></script>

<div >
        <table id="CAMTecnoligaTabela">

      <caption><div align="right">
        </div></caption>

            <meta http-equiv="content-type" content="text/html;charset=utf-8" />
            <head>
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
                <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
                <script language="JavaScript" >
                  function enviardados(){



                          if( document.form.nome.value == "")
                          {
                          alert( "Há campos a serem preenchidos!" );
                          document.form.nome.focus();
                          return false;
                          }

                          if( document.form.descricao.value == "")
                          {
                          alert( "Há campos a serem preenchidos!" );
                          document.form.descricao.focus();
                          return false;
                          }

                          if( document.form.tipo_des.value == 0)
                            {
                            alert( "Há campos a serem preenchidos!" );
                            document.form.tipo_des.focus();
                            return false;
                            }

                            if(document.form.tipo_des.value == 1 && document.form.dest_anuncios.value == 0)
                            {
                            alert( "Há campos a serem preenchidos!" );
                            document.form.dest_anuncios.focus();
                            return false;
                            }

                            if(document.form.tipo_des.value == 2 && document.form.dest_gravacoes.value == 0)
                            {
                            alert( "Há campos a serem preenchidos!" );
                            document.form.dest_gravacoes.focus();
                            return false;
                            }

                            if(document.form.tipo_des.value == 3 && document.form.dest_numeros.value == 0)
                            {
                            alert( "Há campos a serem preenchidos!" );
                            document.form.dest_numeros.focus();
                            return false;
                            }

                            if(document.form.tipo_des.value == 4 && document.form.dest_uras.value == 0)
                            {
                            alert( "Há campos a serem preenchidos!" );
                            document.form.dest_uras.focus();
                            return false;
                            }

                            if(document.form.tipo_des.value == 5 && document.form.dest_filas.value == 0)
                            {
                            alert( "Há campos a serem preenchidos!" );
                            document.form.dest_filas.focus();
                            return false;
                            }

                            if(document.form.tipo_des.value == 6 && document.form.dest_chamadasGrupo.value == 0)
                            {
                            alert( "Há campos a serem preenchidos!" );
                            document.form.dest_chamadasGrupo.focus();
                            return false;
                            }

                            if(document.form.tipo_des.value == 7 && document.form.dest_condicoes.value == 0)
                            {
                            alert( "Há campos a serem preenchidos!" );
                            document.form.dest_condicoes.focus();
                            return false;
                            }

                            if(document.form.tipo_des.value == 8 && document.form.dest_troncos.value == 0)
                            {
                            alert( "Há campos a serem preenchidos!" );
                            document.form.dest_troncos.focus();
                            return false;
                            }

                      return true;
                      }

                  </script>
            </head>
            <body>
                    <div id="divCenter">
                            <div align="center"><h2>Adicionar URA:</h2></div>
        <form method="POST" id="form" name="form" onSubmit="return enviardados();">
            {% csrf_token %}
            <input type="hidden" name="count" id="count" value="1"></input>
                <table cellspacing="10">
                    <tr>
                        <td>
                                <label for="anuncio">Anúncio:</label>
                               </td>
                               <td align="left">
                                <select name="anuncio">
                                <option value="0">Nenhum</option>
                                {%for anu in anuncios %}
                                        <option value="{{anu.id}}">{{anu.descricao}}</option>
                                {%endfor%}
                               </select>
                </td>
                  </tr>
                 <tr>
                    <td>
                     <label for="descrição">Discar direto: </label>
                    </td>
                    <td align="left">
                     <select name="discar_direto">
                     <option value="0">Desabilitado</option>
                      <option value="1">Ramais</option>
                    </td>
                    <td></td>
                      <td></td>
                        <td></td>
                          <td></td>
                   </tr>
                   <tr>
                        <td>
                         <label for="timeout">Timeout: </label>
                        </td>
                        <td align="left">
                         <input type="text" name="timeout" value="10">
                        </td>
                        <td></td>
                          <td></td>
                            <td></td>
                              <td></td>
                       </tr>
                    <tr>
                        <td>
                            <label for="tent_inv">Tentativas Inválidas</label>
                        </td>
                        <td align="left">
                                <select name="tent_inv">
                                <option value="dis">Disabled</option>
                                <option value="00">00</option>
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03" selected>03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                            </select>
                        </td>
                        <td></td>
                          <td></td>
                            <td></td>
                              <td></td>
                    </tr>
                    <tr>
                            <td>
                                    <label for="invrerecor">Gravação de Repetição Inválida:</label>
                                   </td>
                                   <td align="left">
                                    <select name="invrerecor">
                                    <option value="0">Padrão</option>
                                    {%for g in gravacoes%}
                                      <option value="{{g.id}}">{{g.nome}}</option>
                                    {%endfor%}
                                   </select>
                    </td>
                    <td></td>
                      <td></td>
                        <td></td>
                          <td></td>
                      </tr>
                      <tr>
                            <td>
                                    <label for="app_ann_inv">Anexar Anúncio em Inválido: </label>
                                   </td>
                        <td>

                                <INPUT TYPE="checkbox" NAME="app_ann_inv" VALUE="True">

                        </td>
                        <td></td>
                          <td></td>
                            <td></td>
                              <td></td>
                       </tr>
                   <tr>
                        <td>
                                <label for="ReturnInvalid">Retornar em Inválido: </label>
                               </td>
                    <td>

                            <INPUT TYPE="checkbox" NAME="ReturnInvalid" VALUE="True">

                    </td>
                    <td></td>
                      <td></td>
                        <td></td>
                          <td></td>
                   </tr>
                   <tr>
                        <td>
                         <label for="gravinvalid">Gravação Inválida:</label>
                        </td>
                        <td align="left">
                         <select name="gravinvalid">
                           <option value="0">Padrão</option>
                           {%for g in gravacoes%}
                             <option value="{{g.id}}">{{g.nome}}</option>
                           {%endfor%}
                          </select>
                        </select>
                        </td>
                        <td></td>
                          <td></td>
                            <td></td>
                              <td></td>
                    </tr>
                    <tr>
                            <td>
                             <label for="destin">Destino Inválido:</label>
                            </td>
                            <td align="left">
                              <select name="tipo_des" id="tipo_des" onchange="get_destino()">
                                  <option value="0">Selecione destino</option>
                                  <option value="1">Anúncio</option>
                                  <option value="2">Gravação</option>
                                  <option value="3">Número de Entrada</option>
                                  <option value="4">URA</option>
                                  <option value="5">Fila</option>
                                  <option value="6">Chamada em grupo</option>
                                  <option value="7">Condições de tempo</option>
                                  <option value="8">Tronco</option>
                          </select>
                      </td>
                      <td align="left">
                              <select  name="dest_anuncios" id="dest_anuncios" hidden>
                                <option value="0" selected>--</option>
                                {%for dest in dest_anuncios %}
                                  <option value="{{dest.id}}">{{dest.descricao}}</option>
                                {%endfor%}
                          </select>
                      </td>
                      <td align="left">
                              <select  name="dest_gravacoes" id="dest_gravacoes" hidden>
                                <option value="0" selected>--</option>
                                {%for dest in dest_gravacoes %}
                                  <option value="{{dest.id}}">{{dest.nome}}</option>
                                {%endfor%}
                          </select>
                      </td>
                      <td align="left">
                              <select  name="dest_numeros" id="dest_numeros" hidden>
                                <option value="0" selected>--</option>
                                {%for dest in dest_numeros %}
                                  <option value="{{dest.id}}">{{dest.numero}}</option>
                                {%endfor%}
                          </select>
                      </td>
                      <td align="left">
                              <select  name="dest_uras" hidden id="dest_uras">
                                <option value="0" selected>--</option>
                                {%for dest in dest_uras %}
                                  <option value="{{dest.id}}">{{dest.nome}}</option>
                                {%endfor%}
                          </select>
                          <select  name="dest_filas" hidden id="dest_filas">
                            <option value="0" selected>--</option>
                            {%for dest in dest_filas %}
                              <option value="{{dest.id}}">{{dest.nome}}</option>
                            {%endfor%}
                      </select>
                      <select  name="dest_chamadasGrupo" hidden id="dest_chamadasGrupo">
                        <option value="0" selected>--</option>
                        {%for dest in dest_chamadasGrupo %}
                          <option value="{{dest.id}}">{{dest.descricao}}</option>
                        {%endfor%}
                  </select>
                  <select  name="dest_condicoes" hidden id="dest_condicoes">
                    <option value="0" selected>--</option>
                    {%for dest in dest_condicoes %}
                      <option value="{{dest.id}}">{{dest.nome}}</option>
                    {%endfor%}
              </select>
              <select  name="dest_troncos" hidden id="dest_troncos">
                <option value="0" selected>--</option>
                {%for dest in dest_troncos %}
                  <option value="{{dest.id}}">{{dest.nome}}</option>
                {%endfor%}
          </select>
                            </td>
                        </tr>
                        <tr>
                                <td>
                                    <label for="timeout_ret">Retentativas de Tempo Esgotado</label>
                                </td>
                                <td align="left">
                                        <select name="timeout_ret">
                                        <option value="dis">Disabled</option>
                                        <option value="00">00</option>
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03" selected>03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                    </select>
                                </td>
                                <td></td>
                                  <td></td>
                                    <td></td>
                                      <td></td>
                            </tr>
                            <tr>
                                 <td>
                                  <label for="ret_tempo_esg">Gravação de Retentativa de Tempo Esgotado:</label>
                                 </td>
                                 <td align="left">
                                  <select name="ret_tempo_esg">
                                    <option value="0">Padrão</option>
                                    {%for g in gravacoes%}
                                      <option value="{{g.id}}">{{g.nome}}</option>
                                    {%endfor%}
                                   </select>
                                 </select>
                                 </td>
                                 <td></td>
                                   <td></td>
                                     <td></td>
                                       <td></td>
                             </tr>
                            <tr>
                                    <td>
                                            <label for="append_anon_timout">Anexar Anúncio no Tempo Limite: </label>
                                           </td>
                                <td>

                                        <INPUT TYPE="checkbox" NAME="append_anon_timout" VALUE="True">

                                </td>
                                <td></td>
                                  <td></td>
                                    <td></td>
                                      <td></td>
                               </tr>
                               <tr>
                                    <td>
                                            <label for="return_timout">Retorno no Tempo Esgotado: </label>
                                           </td>
                                <td>

                                        <INPUT TYPE="checkbox" NAME="return_timout" VALUE="True">

                                </td>
                                <td></td>
                                  <td></td>
                                    <td></td>
                                      <td></td>
                               </tr>
                               <tr>
                                    <td>
                                     <label for="timeout_record">Gravação de Tempo Esgotado:</label>
                                    </td>
                                    <td align="left">
                                     <select name="timeout_record">
                                       <option value="0">Padrão</option>
                                       {%for g in gravacoes%}
                                         <option value="{{g.id}}">{{g.nome}}</option>
                                       {%endfor%}
                                      </select>
                                    </select>
                                    </td>
                                    <td></td>
                                      <td></td>
                                        <td></td>
                                          <td></td>
                                </tr>
                                <tr>
                                        <td>
                                         <label for="timeout_dest">Destino de Tempo Esgotado:</label>
                                        </td>
                                        <td align="left">
                                          <select name="ntipo_des" id="ntipo_des" onchange="get_destinon()">
                                              <option value="0">Selecione destino</option>
                                              <option value="1">Anúncio</option>
                                              <option value="2">Gravação</option>
                                              <option value="3">Número de Entrada</option>
                                              <option value="4">URA</option>
                                              <option value="5">Fila</option>
                                              <option value="6">Chamada em grupo</option>
                                              <option value="7">Condições de tempo</option>
                                              <option value="8">Tronco</option>
                                      </select>
                                  </td>
                                  <td align="left">
                                          <select  name="ndest_anuncios" id="ndest_anuncios" hidden>
                                            <option value="0" selected>--</option>
                                            {%for dest in dest_anuncios %}
                                              <option value="{{dest.id}}">{{dest.descricao}}</option>
                                            {%endfor%}
                                      </select>
                                  </td>
                                  <td align="left">
                                          <select  name="ndest_gravacoes" id="ndest_gravacoes" hidden>
                                            <option value="0" selected>--</option>
                                            {%for dest in dest_gravacoes %}
                                              <option value="{{dest.id}}">{{dest.nome}}</option>
                                            {%endfor%}
                                      </select>
                                  </td>
                                  <td align="left">
                                          <select  name="ndest_numeros" id="ndest_numeros" hidden>
                                            <option value="0" selected>--</option>
                                            {%for dest in dest_numeros %}
                                              <option value="{{dest.id}}">{{dest.numero}}</option>
                                            {%endfor%}
                                      </select>
                                  </td>
                                  <td align="left">
                                          <select  name="ndest_uras" hidden id="ndest_uras">
                                            <option value="0" selected>--</option>
                                            {%for dest in dest_uras %}
                                              <option value="{{dest.id}}">{{dest.nome}}</option>
                                            {%endfor%}
                                      </select>
                                      <select  name="ndest_filas" hidden id="ndest_filas">
                                        <option value="0" selected>--</option>
                                        {%for dest in dest_filas %}
                                          <option value="{{dest.id}}">{{dest.nome}}</option>
                                        {%endfor%}
                                  </select>
                                  <select  name="ndest_chamadasGrupo" hidden id="ndest_chamadasGrupo">
                                    <option value="0" selected>--</option>
                                    {%for dest in dest_chamadasGrupo %}
                                      <option value="{{dest.id}}">{{dest.descricao}}</option>
                                    {%endfor%}
                              </select>
                              <select  name="ndest_condicoes" hidden id="ndest_condicoes">
                                <option value="0" selected>--</option>
                                {%for dest in dest_condicoes %}
                                  <option value="{{dest.id}}">{{dest.nome}}</option>
                                {%endfor%}
                          </select>
                          <select  name="ndest_troncos" hidden id="ndest_troncos">
                            <option value="0" selected>--</option>
                            {%for dest in dest_troncos %}
                              <option value="{{dest.id}}">{{dest.nome}}</option>
                            {%endfor%}
                      </select>
                                        </td>
                                    </tr>
                                    <tr>
                                            <td>
                                                    <label for="return_ura">Retorna para URA após Caixa Postal: </label>
                                                   </td>
                                        <td>

                                                <INPUT TYPE="checkbox" NAME="append_anon_timout" VALUE="True">

                                        </td>
                                        <td></td>
                                          <td></td>
                                            <td></td>
                                              <td></td>
                                       </tr>
                </table>

               <br />
               <!-- ENDEREÇO -->

                <table cellspacing="10">

                        <tr>
                            <td>
                             <label for="nome">Nome: </label>
                            </td>
                            <td align="left">
                             <input type="text" name="nome_ura">
                            </td>
                         </tr>
                         <tr>
                              <td>
                               <label for="descricao">Descrição: </label>
                              </td>
                              <td align="left">
                               <input type="text" name="descricao">
                              </td>
                         </tr>
                </table>
               <br />

               <br />
               <!-- ENDEREÇO -->


                              <div align="center"><label style="display: block"><input type="button" name="add" id="add_linha" value="Adicionar Ramal" /></label></div>
                              <br />
                              <div align="center">
                                <div id="dynamicDiv" >
                                                <div id="ramal">
                                                        <tr>
                                                                <td>
                                                                <label for="nome">Ramal: </label>
                                                                </td>
                                                                <td align="left">
                                                                <input type="text" name="ramal0">
                                                              </td>
                                                        </tr>
                                                        <tr>
                                                                <td>
                                                                <label for="destino">Destino: </label>
                                                              </td>
                                                              <td align="left">
                                                                        <select name="tipo_des0" id="tipo_des0" onchange="get_destino_ramal(this);">
                                                                            <option value="0">Selecione destino</option>
                                                                            <option value="1">Anúncio</option>
                                                                            <option value="2">Gravação</option>
                                                                            <option value="3">Número de Entrada</option>
                                                                            <option value="4">URA</option>
                                                                            <option value="5">Fila</option>
                                                                            <option value="6">Chamada em grupo</option>
                                                                            <option value="7">Condições de tempo</option>
                                                                            <option value="8">Tronco</option>
                                                                    </select>
                                                                </td>
                                                                <td align="left">
                                                                        <select  name="dest_anuncios0" id="dest_anuncios0" hidden>
                                                                          <option value="0" selected>--</option>
                                                                          {%for dest in dest_anuncios %}
                                                                            <option value="{{dest.id}}">{{dest.descricao}}</option>
                                                                          {%endfor%}
                                                                    </select>
                                                                </td>
                                                                <td align="left">
                                                                        <select  name="dest_gravacoes0" id="dest_gravacoes0" hidden>
                                                                          <option value="0" selected>--</option>
                                                                          {%for dest in dest_gravacoes %}
                                                                            <option value="{{dest.id}}">{{dest.nome}}</option>
                                                                          {%endfor%}
                                                                    </select>
                                                                </td>
                                                                <td align="left">
                                                                        <select  name="dest_numeros0" id="dest_numeros0" hidden>
                                                                          <option value="0" selected>--</option>
                                                                          {%for dest in dest_numeros %}
                                                                            <option value="{{dest.id}}">{{dest.numero}}</option>
                                                                          {%endfor%}
                                                                    </select>
                                                                </td>
                                                                <td align="left">
                                                                        <select  name="dest_uras0" hidden id="dest_uras0">
                                                                          <option value="0" selected>--</option>
                                                                          {%for dest in dest_uras %}
                                                                            <option value="{{dest.id}}">{{dest.nome}}</option>
                                                                          {%endfor%}
                                                                    </select>
                                                                    <select  name="dest_filas0" hidden id="dest_filas0">
                                                                      <option value="0" selected>--</option>
                                                                      {%for dest in dest_filas %}
                                                                        <option value="{{dest.id}}">{{dest.nome}}</option>
                                                                            {%endfor%}
                                                                      </select>
                                                                      <select  name="dest_chamadasGrupo0" hidden id="dest_chamadasGrupo0">
                                                                        <option value="0" selected>--</option>
                                                                        {%for dest in dest_chamadasGrupo %}
                                                                          <option value="{{dest.id}}">{{dest.descricao}}</option>
                                                                        {%endfor%}
                                                                  </select>
                                                                          <select  name="dest_condicoes0" hidden id="dest_condicoes0">
                                                                            <option value="0" selected>--</option>
                                                                            {%for dest in dest_condicoes %}
                                                                              <option value="{{dest.id}}">{{dest.nome}}</option>
                                                                            {%endfor%}
                                                                      </select>
                                                                      <select  name="dest_troncos0" hidden id="dest_troncos0">
                                                                        <option value="0" selected>--</option>
                                                                        {%for dest in dest_troncos %}
                                                                          <option value="{{dest.id}}">{{dest.nome}}</option>
                                                                        {%endfor%}
                                                                          </select>
                                                              </td>
                                                        </tr>
                                                        <tr>
                                                                <td>
                                                                <label for="returna">Retornar: </label>
                                                        </td>
                                                        <td align="left">
                                                                <INPUT TYPE="checkbox" NAME="retorna0" VALUE="True">
                                                                <a class="btn btn-danger">
                                                                <img  src="{% static 'img/minus.png' %}" style="cursor: pointer;" >
                                                                </a>
                                                        </td>
                                                        </tr>

                                                      </div>
                                                      <fieldset id="inputs_adicionais" style="border: none"></fieldset>
                                                    </div>
                                                  </div>
                </div>

                </table>

               <br />


               <br />

               <button type="submit">Criar URA</button>
               </form>
</div>

</div>
</body>

    </table>
    </div>

    <script>


                    $(document).ready(function(){
                      var i = 1;

                    $("#add_linha").on('click', function (e){
                        e.preventDefault();
                          var input = '<div cellspacing="10"><tr><td>'+
                            '<label for="nome">Ramal: </label>'+
                            '<input type="text" name="ramal'+i+'" id="ramal'+i+'">'+
                            '<td>'+
                            '<label for="destino">Destino: </label>'+
                          '</td>'+
                      '<td align="left">'+
                                '<select name="tipo_des'+i+'" id="tipo_des'+i+'" onchange="get_destino_ramal(this);">'+
                                    '<option value="0">Selecione destino</option>'+
                                    '<option value="1">Anúncio</option>'+
                                    '<option value="2">Gravação</option>'+
                                    '<option value="3">Número de Entrada</option>'+
                                    '<option value="4">URA</option>'+
                                    '<option value="5">Fila</option>'+
                                    '<option value="6">Chamada em grupo</option>'+
                                    '<option value="7">Condições de tempo</option>'+
                                    '<option value="8">Tronco</option>'+
                            '</select>'+
                        '</td>'+
                        '<td>'+
                        '<td>'+
                        '<td align="left">'+
                        '<tr>'+
                        '<td>'+
                                '<select  name="dest_anuncios'+i+'" id="dest_anuncios'+i+'" hidden>'+
                                  '<option value="0" selected>--</option>'+
                                  '{%for dest in dest_anuncios %}'+
                                    '<option value="{{dest.id}}">{{dest.descricao}}</option>'+
                                  '{%endfor%}'+
                            '</select>'+
                        '</td>'+
                        '</tr>'+
                        '</td>'+
                        '<td align="left">'+
                          '<tr>'+
                        '<td>'+
                                '<select  name="dest_gravacoes'+i+'" id="dest_gravacoes'+i+'" hidden>'+
                                  '<option value="0" selected>--</option>'+
                                  '{%for dest in dest_gravacoes %}'+
                                    '<option value="{{dest.id}}">{{dest.nome}}</option>'+
                                  '{%endfor%}'+
                            '</select>'+
                            '</td>'+
                        '</tr>'+
                        '</td>'+
                        '<td align="left">'+
                          '<tr>'+
                        '<td>'+
                                '<select  name="dest_numeros'+i+'" id="dest_numeros'+i+'" hidden>'+
                                  '<option value="0" selected>--</option>'+
                                  '{%for dest in dest_numeros %}'+
                                    '<option value="{{dest.id}}">{{dest.numero}}</option>'+
                                  '{%endfor%}'+
                            '</select>'+
                            '</td>'+
                        '</tr>'+
                        '</td>'+
                        '<td align="left">'+
                          '<td>'+
                        '<tr>'+
                                '<select  name="dest_uras'+i+'" hidden id="dest_uras'+i+'">'+
                                  '<option value="0" selected>--</option>'+
                                  '{%for dest in dest_uras %}'+
                                    '<option value="{{dest.id}}">{{dest.nome}}</option>'+
                                  '{%endfor%}'+
                            '</select>'+
                            '<select  name="dest_filas'+i+'" hidden id="dest_filas'+i+'">'+
                              '<option value="0" selected>--</option>'+
                              '{%for dest in dest_filas %}'+
                                '<option value="{{dest.id}}">{{dest.nome}}</option>'+
                                    '{%endfor%}'+
                              '</select>'+
                              '</td>'+
                        '</tr>'+
                        '<td>'+
                        '<tr>'+
                              '<select  name="dest_chamadasGrupo'+i+'" hidden id="dest_chamadasGrupo'+i+'">'+
                                '<option value="0" selected>--</option>'+
                                '{%for dest in dest_chamadasGrupo %}'+
                                  '<option value="{{dest.id}}">{{dest.descricao}}</option>'+
                                '{%endfor%}'+
                          '</select>'+
                          '<td>'+
                        '<tr>'+
                                  '<select  name="dest_condicoes'+i+'" hidden id="dest_condicoes'+i+'">'+
                                    '<option value="0" selected>--</option>'+
                                    '{%for dest in dest_condicoes %}'+
                                      '<option value="{{dest.id}}">{{dest.nome}}</option>'+
                                    '{%endfor%}'+
                              '</select>'+
                              '<select  name="dest_troncos'+i+'" hidden id="dest_troncos'+i+'">'+
                                '<option value="'+i+'" selected>--</option>'+
                                '{%for dest in dest_troncos %}'+
                                  '<option value="{{dest.id}}">{{dest.nome}}</option>'+
                                '{%endfor%}'+
                                  '</select>'+
                                  '</td>'+
                            '<label for="returna">Retornar: </label>'+
                            '<INPUT TYPE="checkbox" NAME="retorna'+i+'" VALUE="True">'+
                            '<a class="btn btn-danger" >'+
                            '<img  src="{% static 'img/minus.png' %}" style="cursor: pointer;" >'+
                            '</a>'+
                            '</td></tr></div>'
                        var newTextBoxDiv = $('</fieldset>');

                            newTextBoxDiv.html(input);
                            newTextBoxDiv.appendTo("#inputs_adicionais");
                            $('#inputs_adicionais').append(input);
                            i++;
                            $('#count').val(i);
                        });

                    $('#inputs_adicionais').delegate('a','click',function( e ){
                        e.preventDefault();
                        $( this ).parent('div').remove();
                        i--;
                        $('#count').val(i);
                    });

                      $("#form").submit( function(e) {
                       //prevent the default submithandling
                       e.preventDefault();

                       var formData = $("#form").serializeArray();
                       for(var j=1; j<i; j++ ){
                         formData.push({name: "ramal"+j, value: $('#ramal'+j).val() });
                         formData.push({name: "tipo_des"+j, value: $('#tipo_des'+j).val() });
                         formData.push({name: "dest_anuncios"+j, value: $('#dest_anuncios'+j).val() });
                         formData.push({name: "dest_gravacoes"+j, value: $('#dest_gravacoes'+j).val() });
                         formData.push({name: "dest_numeros"+j, value: $('#dest_numeros'+j).val() });
                         formData.push({name: "dest_uras"+j, value: $('#dest_uras'+j).val() });
                         formData.push({name: "dest_filas"+j, value: $('#dest_filas'+j).val() });
                         formData.push({name: "dest_chamadasGrupo"+j, value: $('#dest_chamadasGrupo'+j).val() });
                         formData.push({name: "dest_condicoes"+j, value: $('#dest_condicoes'+j).val() });
                         formData.push({name: "dest_troncos"+j, value: $('#dest_troncos'+j).val() });
                         formData.push({name: "retorna"+j, value: $('#retorna'+j).val() });
                        }

                       $.post('{% url "ura_novo" %}', formData);
                       console.log( formData );
                       return window.location.href ="/uras/";
                     });

                    });
                    </script>
{% endblock %}
